.btn-outlined.btn-primary {
  color: #000;
}
.btn-outlined.btn-primary:active,
.btn-outlined.btn-positive:active,
.btn-outlined.btn-negative:active {
  color: #000;
}
.btn-block {
  text-align: center;
  cursor: pointer;
}

.mat-card {
  width: 50rem;
}
