<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <div id="app-card">
        <app-card>
         
          <div class="container" id="container1">
            <div class="row">
              <div class="col-sm" id="Active">
                <button mat-button><h6 class="active">Active</h6></button>
              </div>
              <div class="col-sm" id="Completed">
                <button mat-button><h6 class="h6">Completed</h6></button>
              </div>
              <div class="col-sm" id="Cancelled">
                <button mat-button><h6 class="h6">Cancelled</h6></button>
              </div>
            </div>
          </div>
          <div class="container" id="container2">
            <div class="row">
              <div class="col-sm">
                <h6>Transaction ID</h6>
              </div>
              <div class="col-sm">
                <h6>Transaction Type</h6>
              </div>
              <div class="col-sm">
                <h6>Amount</h6>
              </div>
              <div class="col-sm">
                <h6>Noworri Fee</h6>
              </div>
              <div class="col-sm">
                <h6>Noworri Fee</h6>
              </div>
            </div>
          </div>
          <div class="container" id="container3">
            <div class="row">
              <div class="col-sm">
                <h6>45211552215</h6>
              </div>
              <div class="col-sm">
                <h6>Service</h6>
              </div>
              <div class="col-sm">
                <h6>150.00 GHC</h6>
              </div>
              <div class="col-sm">
                <h6>58.00 GHC</h6>
              </div>
              <div class="col-sm">
                <div class="container">
                  <h6>In progress</h6>
                </div>
              </div>
            </div>
          </div>
          
          <div class="Prolongement">
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
