<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <div id="app-card">
        <app-card>
          <div class="row"
          >
            <div
              class="col-xs-12 col-12 col-md-4 form-group"
              style="float: left"
            >
            <form (ngSubmit)="onSearch(searchForm)" #searchForm="ngForm"
            >
              <div *ngIf="isDateInput && !isFilterInput">
                <input
                type="text"
                placeholder="Pick your date range"
                class="form-control"
                name="dateRange"
                bsDaterangepicker
                ngModel
              />
              <button type="submit">
                <i class="bi bi-search">Search</i>
              </button>
              </div>
              <div *ngIf="isFilterInput && !isDateInput">
                <input
                type="text"
                placeholder="Filter By"
                class="form-control"
                name="filterInput"
                ngModel
              />
              <button type="submit">
                <i class="bi bi-search">Filter</i>
              </button>
              </div>
            </form>
            <button *ngIf="isFilterInput || isDateInput" (click)="resetFilter(searchForm)">
              <i class="bi bi-search">Reset</i>
            </button>
            </div>
          </div>
          <div class="row" style="margin-left: 10px; margin-bottom: 10px">
            <span class="filter">Filter by:</span>
            <div class="col-6">
              <div class="col-6">
                <div class="btn-group">
                  <div
                    class="btn-group"
                    ngbDropdown
                    role="group"
                    aria-label="Button group with nested dropdown"
                  >
                    <button
                      class="btn btn-sm dropdown-toggle-split"
                      ngbDropdownToggle
                      style="
                        color: black;
                        margin-top: -5px;
                        margin-left: -30px;
                        font-size: 25px;
                        font-weight: bold;
                      "
                    ></button>
                    <div
                      class="dropdown-menu"
                      ngbDropdownMenu
                      id="dropDownButton"
                    >
                      <button
                        class="btn btn-sm"
                        (click)="showFilterInput('Date')"
                        ngbDropdownItem
                      >
                        Date
                      </button>
                      <button class="btn btn-sm" (click)="showFilterInput('initiator_phone')" ngbDropdownItem>Customer</button>
                      <button class="btn btn-sm" (click)="showFilterInput('state')" ngbDropdownItem>Status</button>
                      <button class="btn btn-sm" (click)="showFilterInput('transaction_key')" ngbDropdownItem>ID</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2" style="font-size: 13px; font-weight: bold">
              transactions:{{currentTransactionsCount}}
            </div>
            <div class="col-2" style="font-size: 13px; font-weight: bold">
              <!-- Revenu: -->
            </div>
          </div>

          <div class="table-data">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Transaction ID</th>
                  <th>Transaction Type</th>
                  <th>You're dealing with :</th>
                  <th>Amount</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  style="cursor: pointer"
                  (click)="
                    onViewTransactionDetails(
                      item.transaction_key,
                      item.initiator_role,
                      item.destinator_role,
                      item.initiator_phone,
                      item.destinator_phone,
                      item.transaction_type
                    )
                  "
                  *ngFor="let item of tableData"
                >
                  <td>
                    {{ item.created_at | date: "shortDate" }}
                    {{ item.created_at | date: "shortTime" }}
                  </td>
                  <td>{{ item.transaction_key }}</td>
                  <td>{{ item.transaction_type }}</td>
                  <td>{{ item.destinator_phone }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.state }}</td>
                </tr>
              </tbody>
            </table>
            <div #noDataMessage *ngIf="hasNoTransactions">
              <h4 text-align="center">{{noDataErrorMessage}}</h4>
            </div>
          </div>
          <div class="Prolongement"></div>
        </app-card>
      </div>
    </div>
  </div>
</div>
