<mat-card class="mat-card mt-8">
    <div class="flex justify-center">
        <h4 class="text-sm   text-gray-300">Activation pending</h4>
    </div>
    <div class="flex justify-center mt-4">
        <p class="text-xs   text-gray-300">Thank your interest in our product. Please give us a few hours to activate
            your business </p>
    </div>
    <div class="flex justify-center mt-4">
        <h4 class="text-md  text-gray-300">
            <!-- <countdown-timer [end]="countDownStop"></countdown-timer> -->
            <!-- <countdown [config]="{leftTime:countDownStop}"></countdown> -->
            <div class="countdown" simpleCountdown [dateTo]="countDownStop"></div>

        </h4>
    </div>
</mat-card>