.card {
  .profilPhoto {
    display: flex;
    justify-content: center;
    img {
      margin-top: 20px;
      width: 70px;
      height: 70px;
      box-shadow: 0px 0px 10px #00000029;
    }
  }

  // for uplaod button//
  .choose_file {
    position: relative;
    display: inline-block;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: white;
  }
  .choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .uploadPicture {
    font-weight: 200;
    color: #497dd5;
    text-decoration: underline;
  }

  .yourProfil {
    display: flex;
    justify-content: center;
  }
  .uploadButton {
    margin-top: 16px;
  }

  margin-left: 50px;
  width: 700px;
  margin-top: 77px;
  hr {
    background-color: red;
    margin-top: 0px;
    height: 1px;
  }

  #button {
    margin-top: -20px;

    button {
      height: 40px;
      text-align: left;
      font: Medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #484848;
      opacity: 1;
      border: 1px solid #497dd5;
    }
  }

  .container {
    .titre {
      margin-top: 19px;
      h6 {
        text-align: left;
        font: Regular 20px/30px Poppins;
        letter-spacing: 0px;
        color: black;
        opacity: 1;
        font-weight: 700;
        margin-bottom: 18px;
      }
    }
    #backgr {
      background: #f3f3f3 0% 0% no-repeat padding-box;
      opacity: 1;
      margin-top: -2px;
      width: 250px;
      h6 {
        text-align: left;
        font: Regular 20px/30px Poppins;
        letter-spacing: 0px;
        color: #484848;
        opacity: 1;
        font-weight: 400;
        margin-top: 5px;
        margin-left: 6px;
      }
      #speci1 {
        margin-left: -15px;
      }
      #speci2 {
        margin-left: -15px;
      }
      #speci3 {
        margin-left: -15px;
      }
      #speci4 {
        margin-right: -188px;
        color: #2bb996;
        cursor: pointer;
        font-size: small;
      }
    }
  }
  #doc {
    margin-top: 40px;
    .Document {
      text-align: left;
      font: Regular 20px/30px Poppins;
      letter-spacing: 0px;
      color: #5607f8;
      opacity: 1;
      font-size: 20px;
      margin-left: -12px;
    }
    .Upload {
      text-align: left;
      font: Regular 15px/23px Poppins;
      letter-spacing: 0px;
      color: #6a6a6a;
      opacity: 1;
      font-size: small;
      font-weight: 400;
      margin-left: -12px;
      margin-top: 10px;
    }
    button {
      border: 1px solid #2bb996;
      border-radius: 13px;
      opacity: 1;
      margin-top: 10px;
    }
  }
}

#saveButton {
  margin-top: 50px;

  button {
    background-color: #5607f8;
    border-radius: 10px;
    font-weight: bold;
    font-size: 11px;
  }
}
