<div class="card">
  <hr />
  <div class="card-body">
    <form #form="ngForm">
      <div class="container">
        <div class="row yourProfil">
          <h6>Your profil</h6>
        </div>
        <div class="row profilPhoto">
          <img
            src="{{ ppSrc }}"
            class="img-menu-user img-radius"
            alt="User-Profile-Image"
          />
        </div>
      </div>
      <div class="row text-center">
        <div class="container text-center upload">
          <div class="choose_file">
            <button
              type="button"
              class="btn btn-default"
              style="width: 150px; height: 50px"
            >
              <h6 class="uploadPicture">Upload picture</h6>
            </button>
            <input
              id="fileUpload"
              name="fileUpload"
              type="file"
              accept="image/*"
              style="cursor: pointer"
              (change)="upload($event.target.files)"
              ngModel
              #fileUpload
            />
          </div>
        </div>
      </div>

      <div class="container" style="margin-left: 44px">
        <div class="row">
          <div class="col-6">
            <div class="row titre">
              <h6>First Name</h6>
            </div>
            <div class="row" id="backgr">
              <h6>{{ first_name }}</h6>
            </div>
          </div>
          <div class="col-6">
            <div class="row titre">
              <h6>Last Name</h6>
            </div>
            <div class="row" id="backgr">
              <h6>{{ name }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row titre">
              <h6>Country</h6>
            </div>
            <div class="row" id="backgr">
              <h6>Ghana</h6>
            </div>
          </div>
          <div class="col-6">
            <div class="row titre">
              <h6>Phone Number</h6>
            </div>
            <div class="row" id="backgr">
              <h6>{{ mobile_phone }}</h6>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="row titre">
              <h6>Email Address</h6>
            </div>
            <div class="row" id="backgr">
              <div class="col" id="speci1">
                <h6 *ngIf="isDisplayHoldEmail">{{ email }}</h6>
                <input
                  style="background-color: #f3f3f3; border: none"
                  *ngIf="isDisplayNewnewEmail"
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder=" write your new email"
                />
              </div>
              <div class="col" id="speci4">
                <mat-icon (click)="changeNewEmailButton()">create</mat-icon>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row titre">
              <h6>Passwords</h6>
            </div>
            <div class="row" id="backgr">
              <div class="col" id="speci3">
                <h6 *ngIf="isDisplayHolPassword">Change password</h6>
                <input
                  style="background-color: #f3f3f3; border: none"
                  *ngIf="isDisplayNewPassword"
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder=" write your new password"
                />
              </div>
              <div class="col" id="speci4">
                <mat-icon (click)="changeNewPassWordButton()">create</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="backgr"></div>
        <div class="row">
          <div class="col-8"></div>
          <div class="col-4" id="saveButton">
            <div class="container">
              <button type="button" class="btn btn-sm btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
