

#Container {
  padding-bottom: 200px;
  #Card1 {
    margin-bottom: -29px;
  }
  margin-top: 100px;

  #Card2 {
    .Yourdealing {
      text-align: left;
      letter-spacing: 0px;
      color: #484848;
      opacity: 1;
      margin-left: -24px;
      font-size: 13px;
      font-weight: normal;
      margin-top: -10px;
    }
    .Number {
      text-align: left;
      font: Medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #e94d34;
      opacity: 1;
      font-size: 13px;
      font-weight: 600;
    }
    .col1 {
      height: 10px;
      .Item {
        margin-left: -23px;
      }
    }

    .Handbag {
      text-align: left;
      font: Regular 20px/30px Poppins;
      letter-spacing: 0px;
      color: #484848;
      opacity: 1;
      font-weight: normal;
      margin-left: -23px;
    }
    .Amoun {
      margin-left: 42px;
    }

    .Revisions {
      text-align: left;
      font: Regular 20px/30px Poppins;
      letter-spacing: 0px;
      color: #484848;
      opacity: 1;
      font-weight: normal;
      margin-left: 50px;
    }
    .Deliveryman {
      text-align: left;
      font: Medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #484848;
      opacity: 1;
      font-size: small;
      margin-left: -23px;
    }
    .Number2 {
      text-align: left;
      font: Regular 17px/26px Poppins;
      letter-spacing: 0px;
      color: #010d4a;
      opacity: 1;
      font-size: small;
    }
    .Changedeliveryman {
      text-align: left;
      font: Regular 20px/30px Poppins;
      letter-spacing: 0px;
      color: #497dd5;
      opacity: 1;
      font-size: small;
      cursor: pointer;
      margin-left: 70px;
    }
    .descriptions {
      text-align: left;
      font: Medium 20px/30px Poppins;
      letter-spacing: 0px;
      color: #484848;
      opacity: 1;
      margin-left: -8px;
    }
    .text {
      text-align: left;
      font: Regular 20px/27px Segoe UI;
      letter-spacing: 0px;
      color: #484848;
      opacity: 1;
      margin-left: -8px;
      margin-top: 20px;
    }
    .hr {
      border: 0.2px solid #ff3400;
      opacity: 1;
      margin-top: -2.5px;
      margin-left: 1px;
      width: 795px;
    }
    hr {
      background-color: #484848;
      margin-left: -35px;
      width: 800px;
    }
    .Number2 {
      text-align: center;
      font: Regular 17px/26px Poppins;
      letter-spacing: 0px;
      color: #010d4a;
      opacity: 1;
      margin-left: -30px;
    }
  }

  #Card18 {
    .h{
      border: 1px solid #ff3400;
      opacity: 1;
      margin-top: -3px;
    }
    .container {
      .Icon {
        color: #497dd5;
        margin-left: -20px;
        font-size: 20px;
      }
      .WantTo {
        font-size: 13px;
        text-align: left;
        font: Semibold 20px/27px Segoe UI;
        letter-spacing: 0px;
        color: #484848;
        opacity: 1;
      }
      .nav-link {
        text-align: left;
        font: Semibold 18px/24px Segoe UI;
        letter-spacing: 0px;
        color: #2bb996;
        opacity: 1;
        margin-top: -8px;
      }
      .Somethingunclair {
        font-size: 13px;
        text-align: left;
        font: Semibold 20px/27px Segoe UI;
        letter-spacing: 0px;
        color: #484848;
        opacity: 1;
      }
    }
  }
}
