<div class="container" id="Container">
  <div class="row">
    <div class="col-sm">
      <div class="row" id="Card2">
        <div
          id="collapseBasic"
          [collapse]="isCollapsed1"
          [isAnimated]="true"
          [collapse]="isCollapsed"
          (collapses)="collapses()"
          (expands)="expands()"
          (collapsed)="collapsed()"
          (expanded)="expanded()"
        >
          <div class="card" id="" style="width: 50rem;">
            <div class="card-body" id="card-body2">
              <div class="container">
                <div class="row" id="CardOne">
                  <div class="col-sm col1">
                    <h6 class="Yourdealing">
                      You're dealing with :
                      <span class="Number">+23333256895</span>
                    </h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Item">Items</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline"></h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Revisions">Amount</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Item">Handbag</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline"></h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Revisions">550.00</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Item">Deliveryman's phone</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount">+23327895623</h6>
                  </div>
                  <div class="col-sm col4">
                    <a class="nav-link" href="#">Change deliveryman</a>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <h5>Descriptions</h5>
                  <p>
                    Define a dead time of the transaction so in case anything
                    was not done after the end of the transaction Noworri will
                    cancel it Define a dead time of the transaction so in case
                    anything was not done after the f the transaction so in case
                    anything was not done after the end of the transaction
                    Noworri will cancel it
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm" id="Card18">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <hr />
              <div class="container">
                <div class="row">
                  <mat-icon class="Icon">report</mat-icon>
                  <h6 class="WantTo">Want to cancel this order ?</h6>
                </div>
                <div class="row">
                  <a class="nav-link" href="#">Click Here</a>
                </div>
                <div class="row">
                  <mat-icon class="Icon">report</mat-icon>
                  <h6 class="Somethingunclair">Something unclair ?</h6>
                </div>
                <div class="row">
                  <a class="nav-link" href="#">Check out our FAQs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      
    </div>
  </div>
</div>
