
  <div *ngIf='sucessMessage' class="card-body alerteCard">
    <div class="alert alert-primary" role="alert">
      Well done ! You have successfully completed the deal.
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm" id="col-sm">
      <div class="card">
        <div class="ServiceStep2">
          <div class="row" style="margin-bottom: -50px">
            <div class="col">
              <h6>Transaction ID:{{ transactionKey }}</h6>
            </div>
            <div class="col link">
              <a class="nav-link" href="#">Changer the deliveryman</a>
            </div>
          </div>
          <div class="container">
            <table class="table">
              <div class="container">
                <h3 class="howTo">How to release the Funds?</h3>
                <p style="margin-left: -50px;">
                  Click on the release button when the deliveryman gives you the
                  goods and enter the 5 digits code  Noworri has sent to the
                  deliveryman (+233279414289) in order to confirm the reception of
                  your <br> goods this will automatically release the money to the
                  seller account.
                </p>
              </div>
            </table>
          </div>
         
        </div>
        <div class="card-body">
          <div id="TransactionResume"></div>
          <div class="Billing">
            <h5 class="BILLINGINFORMATION">BILLING INFORMATION</h5>
            <div class="row" id="Calcule1">
              <div class="col-sm">
                <h6 class="Shoesandsock">{{ item }}</h6>
              </div>
              <div class="col-sm">
                <h6 class="Tolale1">{{ amount }}</h6>
              </div>
            </div>
            <div class="row" id="Calcule2">
              <div class="col-sm">
                <h6>
                  <div class="row">
                    <div class="col-sm">
                      <h6 class="NoworriFees">Noworri Charges</h6>
                    </div>
                    <div class="col-sm">
                      <h6 class="Tolale2">{{ noworriFee }}</h6>
                    </div>
                  </div>
                </h6>
              </div>
            </div>
            <hr
              style="
                width: 600px;
                border-color: 1px solid black;
                border-width: 1.9px;
                opacity: 1;
              "
            />
          </div>
          <div class="MoreInformation">
            <h5 class="MOREINFORMATIONS">MORE INFORMATIONS</h5>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Buyersusername">Buyer</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcule3">{{ sellerPhone }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Sellersusername">Seller</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcul3">{{ sellerPhone }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Sellersusername">Deliveryman</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcul3">{{ deliveryPhone }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Sellersusername" style="color: black">
                  Description
                </h6>
              </div>
            </div>
          </div>
          <div id="Requirement">
            <div id="Paragraphe"></div>
          </div>

          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm" id="STARTNOWORRI">
              <div class="text-center">
                <button
                *ngIf='displayReleaseButton'
                  type="submit"
                  (click)="onReleaseFunds(AddBankAccounttemplate)"
                  mat-raised-button
                >
                  Release :{{ amount }} GHC
                </button>
              </div>
              <ng-template #AddBankAccounttemplate>
                <div class="modal-body modaleTemplate">
                  <h4>Delivery Verification</h4>
                  <h6>
                    We have sent 5 digits code to the deliveryman({{ deliveryPhone }}) by sms to
                    release the funds and confirm you received the goods enter
                    the 5 digits code
                  </h6>
                  <form>
                    <div class="form-group text-center" [formGroup]="digitFom">
                      <div class="row">
                        <input
                          type="text"
                          maxlength="1"
                          class="form-control col-sm-2"
                          id="numberInput"
                          formControlName="number1"
                        />
                        <input
                          type="text"
                          maxlength="1"
                          class="form-control col-sm-2"
                          id="numberInput"
                          formControlName="number2"
                        />
                        <input
                          type="text"
                          maxlength="1"
                          class="form-control col-sm-2"
                          id="numberInput"
                          formControlName="number3"
                        />
                        <input
                          type="text"
                          maxlength="1"
                          class="form-control col-sm-2"
                          id="numberInput"
                          formControlName="number4"
                        />
                        <input
                          type="text"
                          maxlength="1"
                          class="form-control col-sm-2"
                          id="numberInput"
                          formControlName="number5"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-10">
                        <h5>Deliveryman didn't received code ?</h5>
                      </div>
                      <div class="col-2 resend">
                        <a class="nav-link" href="#">Resend </a>
                      </div>
                    </div>
                    <div class="Loading">
                      <button *ngIf="isValidating" mat-raised-button>
                        <span
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                        STARTING...
                      </button>
                    </div>
                    <div  class="text-center">
                      <button
                        type="submit"
                        *ngIf="!isValidating"
                        (click)="onInitiateRelease()"
                        mat-raised-button
                      >
                        Release :{{ amount }} GHC
                      </button>
                    </div>
                  </form>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
