
<div class="container" id="Container" >
  <div class="row">
    <div class="col-sm">
      <div class="row" id="Card2">
      
        <div
          id="collapseBasic"
        >
                  <!-- [collapse]="isCollapsed1"
          [isAnimated]="true"
          [collapse]="isCollapsed"
          (collapses)="collapses()"
          (expands)="expands()"
          (collapsed)="collapsed()"
          (expanded)="expanded()" -->
          <div class="card" id="" style="width: 50rem;">
            <hr class="hr">
            <div class="card-body" id="card-body2">
              <div class="container">
                <div class="row" id="CardOne">
                  <div class="col-sm col1">
                    <h6 class="Yourdealing">
                      You're dealing with :
                      <span class="Number">{{ sellerPhone }}</span>
                    </h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Item">Items</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline"></h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Amoun">Amount</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Handbag">{{ item }}</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline"></h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Revisions">{{ amount }}</h6>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Handbag">Noworri Fee</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline"></h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Revisions"> {{ noworriFee }}</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Item"></h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Item">NET SECURED</h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Revisions">{{ totalAmount }}</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Deliveryman">Deliveryman's phone</h6>
                  </div>
                  <div class="col-sm col2">
                  </div>
                  <div class="col-sm col3">
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Number2">{{ deliveryPhone }}</h6>
                  </div>
                </div>
                <hr *ngIf="isCancelled" />
                <div class="row">
                  <div *ngIf="isCancelled"  class="col-sm">
                    <h6 class="text1">
                      The seller cancelled this transaction. Please start another one
                    </h6>
                  </div>
                </div>
                <hr *ngIf="!isCancelled && hasDeliveryPhone"/>
                <div class="row">
                  <div *ngIf="!isFundsReleased && !isCancelled && hasDeliveryPhone"  class="col-sm col1">
                    <h6 class="text1">
                      Release the funds when you get your product delivered
                    </h6>
                  </div>
                  <div *ngIf="isFundsReleased"  class="col-sm">
                    <h6 class="text1">
                      the funds have been Released for this transaction
                    </h6>
                  </div>
                  <div *ngIf="!isFundsReleased && !isCancelled"  class="col-sm col4">
                      <div *ngIf="isValidating" class="Loading">
                        <button  class="Revisions btn btn-sm btn-light" >
                          <span
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                        processing...
                        </button>
                      </div>
                    <button type="button" *ngIf="!isValidating && !isCancelled && hasDeliveryPhone" (click)="onReleaseFunds()" class="Revisions btn btn-sm btn-light">
                      Release Funds
                    </button>
                  </div>
                </div>
                <hr />
                <div class="row" id="Description" >
                  <h5 class="descriptions">Description</h5>
                  <p class="text" style="margin-left: -89.2px;">
                    {{ description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm" id="Card18">
      <div class="container">
        <div class="card">
          <hr class="h" />
          <div class="card-body">
            <div class="container">
              <!-- <div class="row">
                <mat-icon class="Icon">report</mat-icon>
                <h6 class="WantTo">Want to cancel this order ?</h6>
              </div>
              <div class="row">
                <a class="nav-link" href="#">Click Here</a>
              </div> -->
              <div class="row">
                <mat-icon class="Icon2">report</mat-icon>
                <h6 class="Somethingunclair">Something unclair ?</h6>
              </div>
              <div class="row">
                <h6 class=" navLink2" href="#">Check out our FAQs</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
  