<section class="part1">
  <nav class="navbar navbar-expand-lg navbar-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul class="navbar-nav mr-auto"></ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <form class="form-inline my-2 my-lg-0 bouton">
        <button
          class="btn btn-sm btn-light my-2 my-sm-0"
          (click)="redirectToSearch()"
        >
          Noworri Search
        </button>
      </form>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card card2">
            <div class="card card3">
              <p class="Webuild">
                <span class="span1 col-12 col-lg-12"> WE BUILD TRUST BY </span
                ><br />
                <span class="span2 col-12">
                  SHIELDING YOU FROM
                </span>
                <span class="span3 col-12">
                  FRAUD
                </span>
              </p>
              <p class="Wemake">
                We make individuals and online informal businesses in Africa
                stand trustful through an Escrow platform
              </p>
              <h5 class="im1">
                <a
                  href="https://play.google.com/store/apps/details?id=co.noworri.noworri"
                >
                  <img
                    src="assets\Search\playstore-icon.png"
                    class="img1"
                    alt="..."
                  />
                </a>
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 ColImage2">
        <div>
          <img
            src="assets\LandinPage\10646-office.gif"
            class="img2"
            alt="..."
          />
        </div>
        <h5>
          <img src="assets\LandinPage\Path 1368.svg" class="img3" alt="..." />
        </h5>
      </div>
    </div>
  </div>
</section>
<section class="part2">
  <div class="container">
    <div class="row">
      <div class=""></div>
      <div class=""></div>
      <div class="col-sm-12 col-md-12">
        <div class="row">
          <div class="col-sm">
            <div class="container" id="container2">
              <div class="col-md-12">
                <img
                  src="assets\LandinPage\Group 12.svg"
                  class="img4"
                  alt="..."
                />
              </div>
              <button type="button" class="btn btn-dark btn-sm" disabled>
                <img
                  src="assets\LandinPage\shield.svg"
                  class="img5"
                  alt="..."
                />
              </button>
              <h6 class="wahts">WHAT'S NOWORRI</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="part3">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <h5>
          <img src="assets\LandinPage\security.gif" class="img6" alt="..." />
        </h5>
      </div>
      <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 colParagraphe">
        <p class="paragraphe col-12 col-md-12">
          Noworri.com is a digital Escrow platform that leverages technology<br />
          to create a confident environment for individuals and online<br />
          informal businesses to transact without the fears to be defrauded.<br />
          For Individual we act as a financially trusted third party business<br />
          facilitating transaction with ease between buyer and seller. For<br />
          online informal businesses, We make them trustful by onboarding<br />
          them through a verification process and help them boost customer<br />
          purchasing power to increase the sale.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="part4">
  <div class="row">
    <div class="col"></div>
    <div class="col col-lg-12"><h6 class="whatwedo">WHAT WE DO</h6></div>
    <div class="col">
      <div>
        <img src="assets\LandinPage\Path 1368.svg" class="img6" alt="..." />
      </div>
    </div>
  </div>
</section>
<section class="part5">
  <div class="container">
    <h4>
      Individuals and online informal businesses are struggling to conclude
      deals<br />
      because of the fear to be defrauded and the lack of trust.
    </h4>
    <h5>
      It's our Job to help them prevent this from happening
    </h5>
    <h6><img src="assets\LandinPage\Group 58.svg" class="img7" alt="..." /></h6>
  </div>
</section>
<section class="part6">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div
        class="col-lg-10 col-md-8 col-8 col-sm-8 embed-responsive embed-responsive-16by9"
      >
        <iframe
          width="640"
          height="360"
          src="https://www.youtube.com/embed/ZwdS2owGEC4"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <h1 class="EscrowFor col-12">Escrow for</h1>
      <div class="col-md-12 col-lg col-sm-12 col-12 col3">
        <div class="container col-md-6 col-sm-6 col-12">
          <button type="button" class="btn btn-primary btn-block bouton1">
            ONLINE INFORMAL BUSINESSES
          </button>
        </div>
      </div>
      <p class="p1 col-12">
        We make online informal businesses<br />
        in Africa stand trustful through an<br />
        Escrow platform
      </p>
      <p class="p2 col-12">
        <span class="NoTrust">
          No trust, No sales.
        </span>
        Distance selling is complicated buyers need to trust you for the deal to
        be closed.We make sellers trustful through a simple verification process
        so your buyers have more confidence in you while purchasing your items
        or service online and in case any buyer don't get his items he can have
        the total insurance that Noworri will help him get his money back.
      </p>
    </div>
  </div>
</section>
<section class="part7">
  <div class="row">
    <div class="col-sm">
      <h5>
        <img src="assets\LandinPage\Path 1368.svg" class="img8" alt="..." />
      </h5>
    </div>
    <div class="col-sm"></div>
  </div>
</section>
<section class="part8">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <h3 class="Escrowfor">
        Escrow for<button type="button" class="btn btn-primary btn-sm btnspeci">
          Coming soon
        </button>
      </h3>
      <div class="col-md-12 col-sm-12 col-12 col-lg-12">
        <div class="col-md-6 col-sm-6 col-6 col-lg-6 IndivCol">
          <button type="button" id="btn" class="btn btn-dark btn-block indiv">
            INDIVIDUALS
          </button>
        </div>
      </div>

      <h5 class="Wehelp">
        We help buyers & Sellers have a peace<br />
        of mind while transacting.
      </h5>
      <p class="Weact col-12">
        We act as a trusted third party financial business between two<br />
        entities transacting, through a contract drawn by parties<br />
        we ensure all conditions mentioned are strictly<br />
        respected, we regulate the payment by holding the buyer's fund<br />
        and disburse it to the seller once the goods or service are<br />
        delivered
      </p>
    </div>
    <div id="speci" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div
        class="col-lg-10 col-md-8 col-sm-8 col-8 embed-responsive embed-responsive-16by9"
        id="Iframe"
      >
        <iframe
          width="640"
          height="360"
          src="https://www.youtube.com/embed/Zru0RCUi5l4"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope;"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>

<section class="part9">
  <div class="container">
    <h3 class="HowIt">How it Works</h3>
    <p class="Atrust col-12">
      A trusted secure Escrow payment solution at the heart of the african
      community.<br />Safeguarding both buyer and seller,all funds transacted
      using Noworri are kept in trust
    </p>
  </div>
</section>

<section class="part10 col-md-12">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-2 ImageAnd">
        <h5>
          <img src="assets\LandinPage\how-it-working-1-1.png" alt="..." />
        </h5>
        <h6 class="col-md-12">1. The buyer and the seller agree to terms</h6>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2 ImageAnd">
        <h5><img src="assets\LandinPage\how-it-working-2.png" alt="..." /></h5>

        <h6 class="col-sm-12 col-md-12">
          2.The buyer makes the payement to Noworri
        </h6>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 ImageAnd">
        <h5><img src="assets\LandinPage\how-it-working-3.png" alt="..." /></h5>

        <h6 class="col-sm-12 col-sm-12 col-md-12">
          3.The seller delivers the goods or service to the buyer
        </h6>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 ImageAnd">
        <h5><img src="assets\LandinPage\how-it-working-4.png" alt="..." /></h5>

        <h6 class="col-sm-12 col-md-12">
          4.The buyer confirms delivery of the goods or services
        </h6>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2 ImageAnd">
        <h5><img src="assets\LandinPage\how-it-working-5.png" alt="..." /></h5>
        <h6 class="col-sm-12 col-md-12">
          5.Noworri.com releases the payement to the seller
        </h6>
      </div>
    </div>
  </div>
</section>

<section class="part11">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <h5 class="DroiteIm">
          <img src="assets\LandinPage\are you.gif " alt="..." />
        </h5>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 RigthCol">
        <h3 class="Noworri">Noworri For</h3>
        <div class="container my-5" id="row3">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg col-sm-6 col3">
              <div class="col-12 col-sm-6 col-md-6">
                <button class="btn btn-light btn-block">
                  P2P E-COMMERCE
                </button>
              </div>
            </div>
          </div>
        </div>
        <h4 class="OurApiMakes">
          Our API makes your e-commerce trustful, drag more sales and more
          buyers.
        </h4>
        <p class="HowDoyou">
          How do you protect both buyers & sellers from scams and ensuring your
          platform is credible ? How do you ensure to the buyers on your
          e-commerce site, the safety of their money while engaging with a
          sellers on your platform ?
        </p>
        <h5 class="NoworrisApi">
          Noworri's API is capable to protect your P2P e-commerce from scams and
          ensure a safe environment for both sellers & buyers.
        </h5>
        <h5 class="Image" (click)="RequestAdemoButton()">
          <img src="assets\LandinPage\Group 1444.svg" href="" alt="..." />
        </h5>
      </div>
    </div>
  </div>
</section>
<section class="part12">
  <div class="row">
    <div class="col-sm">
      <h5 class="Image">
        <img src="assets\LandinPage\Path 1368.svg" alt="..." />
      </h5>
    </div>
    <div class="col-sm"></div>
  </div>
</section>
<section class="part13">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <h6 class="Nowo">NOWORRI</h6>
        <p class="Making">
          Making the African market a safer place for buyers & sellers.
        </p>
        <div class="row">
          <div class="col">
            <h5 class="Image">
              <a href="https://www.facebook.com/Noworripayment/">
                <img src="assets\LandinPage\Group 45.svg" alt="..." />
              </a>
            </h5>
          </div>
          <div class="col">
            <h5 class="Image">
              <a href="https://twitter.com/Noworripayment">
                <img src="assets\LandinPage\Group 48.svg" alt="..." />
              </a>
            </h5>
          </div>
          <div class="col">
            <h5 class="Image">
              <a
                href="https://www.linkedin.com/company/noworri/?viewAsMember=true"
              >
                <img src="assets\LandinPage\Group 47.svg" alt="..." />
              </a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <h6>Links</h6>
        <p>informal business</p>
        <p>Individuals</p>
        <p>E-commerce</p>
        <p>Noworri search</p>
      </div>
      <div class="col-sm">
        <h6>Contact Us</h6>
        <p>hello@noworri.com</p>
      </div>
      <div class="col-sm">
        <h6>Download</h6>
        <h5 class="playstore">
          <a href="https://play.google.com/store/apps/details?id=co.noworri.noworri">
            <img src="assets\Search\playstore-icon.png" class="image2" alt="..." />
          </a>
        </h5>
      </div>
    </div>
  </div>
</section>
<section class="part14">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-12 col-lg-6">
        <h6 class="copy">
          Copyright © 2020 Noworri Financial Technology Limited
        </h6>
      </div>
      <div class="col-sm-12 col-md-12 col-12 col-lg-6">
        <h6 class="terme" (click)="RouteToLegaland()">Legal & Security</h6>
      </div>
    </div>
  </div>
</section>
