<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
    <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
        <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
            <div class="fill-current text-center">
                <img class="w-16" src="assets/img/demo/logo.svg">
            </div>
        </div>

        <div class="text-center mt-4">
            <h2 class="title m-0">Register for an account</h2>
            <h4 class="body-2 text-secondary m-0">please write your phone number</h4>
        </div>

        <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
            <div fxFlex="auto" fxLayout="column">
                <div fxFlex="auto" fxLayout="column">
                    <mat-form-field fxFlex="grow">
                        <mat-label>Phone Number</mat-label>
                        <input formControlName="phoneNumber" matInput required>
                    </mat-form-field>
                </div>
                <button color="primary" mat-raised-button type="button">
                    SEND ME OTP CODE
                </button>
            </div>
            <div fxFlex="auto" fxLayout="column">

                <div fxFlex="auto" fxLayout="column">
                    <mat-form-field fxFlex="grow">
                        <mat-label>OTP CODE</mat-label>
                        <input formControlName="otpCode" matInput required>
                    </mat-form-field>
                </div>

                <button (click)="send()" color="primary" mat-raised-button type="button">
                    VERIFY CODE
                </button>
            </div>

            <p class="text-secondary text-center">
                Already have an account?<br />
                <a routerLink=''>Sign in here</a>
            </p>
        </div>
    </div>
</div>