<div class="footer" fxLayout="row">
  <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center" vexContainer>
    <a class="action"
       color="primary"
       fxFlex="none"
       href="https://noworri.com"
       target="_blank"
       id="get-vex"
       mat-raised-button>
      <ic-icon [icon]="icShoppingBasket" class="ltr:mr-2 rtl:ml-2" inline="true" size="18px"></ic-icon>
      <span>Noworri</span>
    </a>
    <div class="ltr:ml-12 rtl:mr-4" fxHide fxShow.gt-sm>
      Noworri User Dashboard v{{version}}
    </div>
  </div>
</div>
