.card {
    margin-top: 80px;
    height: 600px;
    .cancel {
        margin-left: 608px;
        font-size: 25px;
        margin-bottom: 9px;
        margin-top: 6px;
        opacity: 1;
        color: red;
        cursor: pointer;
    }
    .card-text {
        text-align: center;
        margin-top: -5px;
        font: normal normal normal 18px/27px Poppins;
        letter-spacing: 0px;
        color: #3d3d3d;
        opacity: 1;
    }
    button {
        margin-top: 20px;
        font: normal normal 600 13px/26px Segoe UI;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        background: #497dd5 0% 0% no-repeat;
        border-radius: 11px;
        opacity: 1;
    }
    img {
        width: 340px;
        height: 340px;
    }
}
