<div class="card" style="width: 40rem;">
  <div>
    <mat-icon class="cancel" routerLink="/home">cancel</mat-icon>
  </div>
  <div class="text-center">
    <img src="assets\18615-are-you-a-business.gif" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <p class="card-text">
      Are you an online vendor?, list your business and get trusted by Noworri<br>
      so we can ensure your customers who doubt
      you or afraid to make<br> an upfront payment of your reliability and trustfulness in a deal.
    </p>
    <div class="text-center">
      <button type="button" (click)='routeToFormgetstruted()' class="btn btn-primary btn-sm">Get strusted</button>
    </div>
  </div>
</div>