<div #originRef (click)="showPopover(originRef)" [class.bg-hover]="dropdownOpen"
  class="relative flex items-center py-1 pl-3 pr-1 rounded cursor-pointer select-none trans-ease-out hover:bg-hover"
  matRipple>
  <div class="flex flex-wrap font-medium leading-snug body-1 ltr:mr-3 rtl:ml-3" fxHide.xs>
    <ic-icon [icIcon]="icArrow " size="20px"></ic-icon> {{ userData.first_name }} {{userData.name}}
  </div>
  <div class="block w-10 h-10 rounded-full">
    <img class="rounded-full h-9 w-9" src="{{ ppURL }}" />
  </div>
</div>