<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <div id="app-card">
        <app-card>
          <div class="row">
            <div
              class="col-xs-12 col-12 col-md-4 form-group"
              style="float: left"
            >
              <input
                *ngIf="dateIput"
                type="text"
                placeholder="Pick your date range"
                class="form-control"
                bsDaterangepicker
              />
            </div>
          </div>
          <div class="row" style="margin-left: 10px; margin-bottom: 10px">
            <span class="filter">Filter by:</span>
            <div class="col-6">
              <div class="col-6">
                <div class="btn-group">
                  <div
                    class="btn-group"
                    ngbDropdown
                    role="group"
                    aria-label="Button group with nested dropdown"
                  >
                    <button
                      class="btn btn-sm dropdown-toggle-split"
                      ngbDropdownToggle
                      style="
                        color: black;
                        margin-top: -5px;
                        margin-left: -30px;
                        font-size: 25px;
                        font-weight: bold;
                      "
                    ></button>
                    <div
                      class="dropdown-menu"
                      ngbDropdownMenu
                      id="dropDownButton"
                    >
                      <button
                        class="btn btn-sm"
                        (click)="onActivateDateInput()"
                        ngbDropdownItem
                      >
                        Date
                      </button>
                      <button class="btn btn-sm" ngbDropdownItem>Two</button>
                      <button class="btn btn-sm" ngbDropdownItem>Four!</button>
                      <button class="btn btn-sm" ngbDropdownItem>Four!</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Next col-12">
              <div class="row">
                <div class="col-12">
                  <h6>
                    Next Payout:<span class="chiffre">12000 GHC</span>
                    <button type="button" class="btn btn-sm btn-primary">
                      Withdraw
                    </button>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="table-data">
            <table
              routerLink="/transactiondetails"
              style="cursor: pointer"
              class="table table-bordered table-striped table-sm"
            >
              <thead>
                <tr>
                  <th>Transaction ID</th>
                  <th>Channel</th>
                  <th>Amount</th>
                  <th>status</th>
                  <th>Payout on</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>453535542475</td>
                  <td>
                    <button class="btn btn-light btn-sm btn1 disabled">
                      Bank Account
                    </button>
                  </td>
                  <td>156.00 GH</td>
                  <td>
                    <button class="btn btn-primary btn-sm disabled btn2">
                      Successful
                    </button>
                  </td>
                  <td>Wednesday, January 13, 2021 5:17 PM</td>
                </tr>
              </tbody>
            </table>
            <div #noDataMessage *ngIf="hasNoTransactions">
              <h4 text-align="center">NO TRANSACTIONS CREATED YET</h4>
            </div>
          </div>
          <div class="Prolongement"></div>
        </app-card>
      </div>
    </div>
  </div>
</div>
