<div class="card" style="width: 40rem;">
  <div>
    <mat-icon class="cancel" routerLink="/home">cancel</mat-icon>
  </div>
  <div class="card-body">
    <div>
      <h6 class="text-center IdentityVerification">Identity verification</h6>
    </div>
    <div>
      <p class="text-center  UploadOneOf">
        Upload one of your document <br> to confirm your identity
      </p>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-sm Idcard">
          <label class="btn btn-secondary" for="my-file-selector">
            <input id="my-file-selector" type="file" class="d-none">
            <div class="mat-icon">
              <mat-icon class="text-center">perm_identity</mat-icon>
            </div>
            <div>
              <p>Vote ID</p>
            </div>
          </label>
        </div>
        <div class="col-sm passport">
          <label class="btn btn-secondary" for="my-file-selector">
            <input id="my-file-selector" type="file" class="d-none">
            <div class="mat-icon" >
              <mat-icon>public</mat-icon>
            </div>
            <div>
              <p> Passport</p>
            </div>
          </label>
        </div>
        <div class="col-sm DriverLicence">
          <label class="btn btn-secondary" for="my-file-selector">
            <input id="my-file-selector" type="file" class="d-none">
            <div class="mat-icon">
              <mat-icon> local_taxi</mat-icon>
            </div>
            <div>
              <p> Driver's license</p>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="text-center Upload">
      <button type="button" class="btn btn-light btn-sm">Upload</button>
    </div>
    <div class="text-center Continue">
      <button type="button" (click)='routeToSelfiVerification()' class="btn btn-primary btn-sm">Continue</button>
    </div>
  </div>
</div>