<div class="container" id="Container">
  <div class="row">
    <div class="col-sm">
      <!------------Main----------- -->
      <div class="row" id="Card1">
        <div class="card">
          <div class="card-body" id="card-body1">
            <hr />
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <h6 class="TransactionID">
                    Transaction ID {{ transactionId }}
                  </h6>
                </div>
                <div class="col-sm">
                  <h6 class="HideContrat">
                    <!-- (click)="isCollapsed1 = !isCollapsed1"
                  [attr.aria-expanded]="!isCollapsed1" -->
                    {{ message1 }} Contrat
                  </h6>
                </div>
                <div class="col-sm">
                  <h6 class="expandmore">
                    <mat-icon>{{ message2 }}</mat-icon>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card2">
        <div id="collapseBasic">
          <!-- [collapse]="isCollapsed1"
        [isAnimated]="true"
        [collapse]="isCollapsed"
        (collapses)="collapses()"
        (expands)="expands()"
        (collapsed)="collapsed()"
        (expanded)="expanded()" -->
          <div class="card" id="" style="width: 50rem;">
            <div class="card-body" id="card-body2">
              <div class="container">
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Item">Item</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount">Amount</h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline">Deadline</h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Revisions">Revisions</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm">
                    <h6 class="Anandroidmobile">
                      {{ item }}
                    </h6>
                  </div>
                  <div class="col-sm col5">
                    <h6 class="cinq1">{{ amount }}</h6>
                  </div>
                  <div class="col-sm col6">
                    <h6 class="Days12Hours">{{ deadline }}</h6>
                  </div>
                  <div class="col-sm col7">
                    <h6 class="Trois">{{ revisions }}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm col8">
                    <h6 class="NoworriFees">Noworri Fees</h6>
                  </div>
                  <div class="col-sm col9">
                    <h6 class="quinz">{{ noworriFee }}</h6>
                  </div>
                  <div class="col-sm"></div>
                  <div class="col-sm"></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h6 class="NETPAYABLE">NET RECEIVABLE</h6>
                  </div>
                  <div class="col-sm">
                    <h6 class="cinq2">{{ totalAmount }}</h6>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card3">
        <div class="container">
          <div class="row">
            <div class="col-sm col10">
              <h6 class="ORDERREQUIREMENTS">ORDER REQUIREMENTS</h6>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm col11">
              <h6 class="HideRequirement">
                <!-- (click)="isCollapsed2 = !isCollapsed2"
              [attr.aria-expanded]="!isCollapsed2" -->

                {{ message3 }} requirement
              </h6>
            </div>
            <div class="col-sm col12">
              <h6 class="expandmore">
                <mat-icon>{{ message4 }}</mat-icon>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card4">
        <div id="collapseBasic">
          <!-- [collapse]="isCollapsed2"
        [isAnimated]="true"
        [collapse]="isCollapsed"
        (collapses)="collapsess()"
        (expands)="expands()"
        (collapsed)="collapsed()"
        (expanded)="expandeds()" -->

          <div class="card" style="width: 50rem;">
            <div class="card-body">
              <p>
                {{ description }}
              </p>
              <!-- <div class="container">
                <h6 *ngFor="let item of uploadedFiles" class="AttachedFile" (click)=onOpenAttachedFile(item)>{{ item }}
                </h6>
              </div> -->
              <div class="container">
                <a *ngFor="let item of uploadedFiles" href="https://noworri.com/api/public/uploads/trs/upf/{{ item }}"
                  target="popup" (click)=onOpenAttachedFile(item)>
                  <h6 class="AttachedFile">{{ item }}</h6>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card5">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                {{ creationDate }} @ {{ creationTime }}
              </h6>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="Card12">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6 *ngIf="!isUserSeller">
              <span class="false102">@{{ buyerPhone }}</span> has sent you a
              deal's contract. Please review and agree to deliver it
            </h6>
            <h6 *ngIf="isUserSeller">
              We sent the contract to
              <span class="false102">@{{ buyerPhone }}</span> We will notify you
              when he agrees;
            </h6>
            <div *ngIf="!hasAgreed" class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row"></div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <div class="container">
              <!-- <div class="row">
                <div class="col"></div>
                <div class="col" id="HeureButton">
                  <button type="button" class="btn btn-light">
                    05 : 25 : 09
                  </button>
                </div>
                <div class="col"></div>
              </div> -->
              <div *ngIf="!isUserSeller" class="row">
                <div class="col"></div>
                <div class="col" id="Delivred">
                  <div *ngIf="isAgreeing" class="Loading">
                    <button>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      processing...
                    </button>
                  </div>
                  <button *ngIf="!hasAgreed && !isAgreeing" type="button" (click)="approveService()"
                    class="btn btn-light btn-sm">
                    AGREE
                  </button>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasAgreed" class="row" id="Card7">
        <div class="col-sm col15">
          <h6 class="HeureEtDate">{{ agreedDate }} @ {{ agreedTime }}</h6>
        </div>
      </div>
      <div *ngIf="hasAgreed" class="row" id="Card8">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6 *ngIf="!isUserSeller">
              You agreed to deliver the service. We will notify you when
              <span class="false102">@{{ buyerPhone }} </span>secures the funds
            </h6>
            <h6 *ngIf="isUserSeller">
              You agreed to deliver the service. We will notify you when
              <span class="false102">@{{ buyerPhone }} </span>secures the funds
            </h6>
            <!-- Timer mode:
            <countdown-timer [start]="'2020-07-10 00:00:00'"></countdown-timer> -->
          </div>
        </div>
      </div>

      <div *ngIf="hasSecuredFunds" class="row" id="Card11">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">{{ securedDate }} @ {{ securedTime }}</h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasSecuredFunds" class="row" id="Card12">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              <span class="false102">@{{ buyerPhone }} </span> has
              successfully secured the funds
            </h6>
            <div *ngIf="!hasSentDemo" class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm" id="HeureButton">
                    <button type="button" class="btn btn-light">
                      DD:HH:MM:SS
                      <h5>
                        <div class="container">
                          <div class="row">
                            <countdown-timer [end]="countDownStop"></countdown-timer>
                          </div>
                        </div>
                      </h5> </button>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <div class="container">
              <!-- <div class="row">
                <div class="col"></div>
                <div class="col" id="HeureButton">
                  <button type="button" class="btn btn-light">
                    05 : 25 : 09
                  </button>
                </div>
                <div class="col"></div>
              </div> -->
              <div class="row">
                <div class="col"></div>
                <div class="col" id="Delivred">
                  <div *ngIf="isValidating" class="Loading">
                    <button>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Starting...
                    </button>
                  </div>
                  <button *ngIf="!hasStartedService && !isValidating" type="button" (click)="onStartService()"
                    class="btn btn-light btn-sm">
                    Start Service
                  </button>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="hasStartedService" class="row" id="Card9">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">{{ startedDate }} @ {{ startedTime }}</h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasStartedService" class="row" id="Card10">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              We notified <span class="false102"> @{{ buyerPhone }}</span>
              that you started the service. The funds will be released post
              completion.
            </h6>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row">
                          <div class="col-sm"></div>
                          <div class="col-sm"></div>
                        </div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasStartedService" class="row" id="Card12">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              <span class="false102"></span> the service has started, deliver
              the work before the deadline
            </h6>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row"></div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <div *ngIf="!hasSentDemo" class="container">
              <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm" id="HeureButton">
                  <button type="button" class="btn btn-light">
                    DD:HH:MM:SS
                    <h5>
                      <div class="container">
                        <div class="row">
                          <countdown-timer [end]="countDownStop"></countdown-timer>
                        </div>
                      </div>
                    </h5> </button>
                </div>
                <div class="col-sm"></div>
              </div>
              <div class="row">
                <div class="col"></div>
                <div class="col" id="Delivred">
                  <button *ngIf="!hasSentDemo" type="button" (click)="OpenNoteInput()" class="btn btn-light btn-sm">
                    Submit work
                  </button>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card19" *ngIf="ShowOrNotOpenNoteInput && !hasSentDemo">
        <form (ngSubmit)="onDeliverService(form)" #form="ngForm">
          <div class="card" style="width: 50rem;">
            <div class="card-body">
              <textarea class="form-control" id="description" name="editor" rows="5" ngModel></textarea>
              <!-- <editor name="editor" apiKey="Get your free API key and paste it here" plugins="wordcount"
                outputFormat="text" ngModel></editor> -->
              <input type="hidden" name="details" id="details" />
              <div class="container">
                <div class="container">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                      <h5>
                        <div class="container">
                          <div class="row">
                            <div class="col-sm"></div>
                            <div class="col-sm"></div>
                          </div>
                        </div>
                      </h5>
                    </div>
                    <div class="col-sm"></div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <input (change)="upload($event.target.files)" type="file" #fileUpload id="fileUpload"
                    name="fileUpload[]" multiple ngModel />
                </div>
                <br>
                <div class="col" id="Delivred">
                  <div *ngIf="isSubmitting" class="Loading">
                    <button>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Sending...
                    </button>
                  </div>
                  <button *ngIf="!isSubmitting" type="submit" class="btn btn-light btn-sm" (click)="onDeliverService()">
                    Send Work
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- <div *ngIf="hasStartedService" class="row" id="Card12">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              <span class="false102"></span> Mark the service as DONE once it is
              completed as per requirements
            </h6>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row"></div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <! -- <div class="col" id="HeureButton">
                  <button type="button" class="btn btn-light">
                    {{ deadline }}
                  </button>
                </div> -- >
                <div class="col"></div>
              </div>
              <div class="row">
                <div class="col"></div>
                <div class="col" id="Delivred">
                  <button
                    type="button"
                    (click)="onDeliverService()"
                    class="btn btn-light btn-sm"
                  >
                    submit
                  </button>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div *ngIf="hasSentDemo" class="row" id="Card21">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                {{ demoDate }} @ {{ demoTime }}
                ------------------------------------------------------------------SERVICE
                SUBMITTED-------------------------------------------------------------------------------------------
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasSentDemo" class="row" id="Card20">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              The work has been sent to
              <span class="rosell">@{{ buyerPhone }}</span>
              <!-- <span class="Here">Here</span> -->
            </h6>
            <h6>
              Awaiting feedback...
            </h6>
            <h6 *ngIf="!hasRevisions">If no response before
              the countdown elapses, the service will be marked as completed and the funds will be released
            </h6>
            <div *ngIf="!hasRevisions" class="row">
              <div class="col"></div>
              <div class="col">
                <div class="col-sm" id="HeureButton">
                  <div class="row">
                    <div class="col-sm"></div>
                    <!-- <div class="col-sm" id="HeureButton"> -->
                    <button type="button" class="btn btn-light">
                      <h5>
                        <div class="container">
                          <div class="row">
                            <countdown-timer [end]="paymentCountDown"></countdown-timer>
                          </div>
                        </div>
                      </h5>
                    </button>
                    <!-- </div> -->
                    <div class="col-sm"></div>
                  </div>
                </div>
              </div>
              <div class="col"></div>
            </div>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container"></div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="hasRevisions" class="row" id="Card14">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                {{ revisionDate }} @ {{ revisionTime }}
                ------------------------------------------------------------------------
                Revision
                -------------------------------------------------------------------------------------------------
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasRevisions" class="row" id="Card15">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6><span class="rosell">@{{ buyerPhone }}</span> requested a revision on your work</h6>
            <br>
            <h6>-{{ revisionDescription }}
            </h6>
            <div *ngIf="hasRevisions && !hasDelivered" class="container">
              <div *ngIf="!hasSentRevisions" class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm" id="HeureButton">
                    <button type="button" class="btn btn-light">
                      DD:HH:MM:SS
                      <h5>
                        <div class="container">
                          <div class="row">
                            <countdown-timer [end]="countDownStop"></countdown-timer>
                          </div>
                        </div>
                      </h5> </button>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row"></div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm"></div>
                <div class="col" id="Delivred">
                  <button *ngIf="!hasDelivered && hasRevisionsRequested && !hasSentRevisions" [disabled]="hasSentRevisions" type="button" (click)="OpenNoteInput()"
                    class="btn btn-light btn-sm">
                    Revise
                  </button>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card19" *ngIf="ShowOrNotOpenNoteInput && hasRevisions">
        <form (ngSubmit)="onSubmitRevision(form)" #form="ngForm">
          <div class="card" style="width: 50rem;">
            <div class="card-body">
              <textarea class="form-control" id="description" name="editor" rows="5" ngModel></textarea>
              <!-- <editor name="editor" apiKey="Get your free API key and paste it here" plugins="wordcount"
                outputFormat="text" ngModel></editor> -->
              <input type="hidden" name="details" id="details" />
              <div class="container">
                <div class="container">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                      <h5>
                        <div class="container">
                          <div class="row">
                            <div class="col-sm"></div>
                            <div class="col-sm"></div>
                          </div>
                        </div>
                      </h5>
                    </div>
                    <div class="col-sm"></div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <input (change)="upload($event.target.files)" type="file" #fileUpload id="fileUpload"
                    name="fileUpload[]" multiple ngModel />
                </div>
                <br>
                <div class="col" id="Delivred">
                  <div *ngIf="isSubmitting" class="Loading">
                    <button>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Resending...
                    </button>
                  </div>
                  <button *ngIf="!isSubmitting" type="submit" class="btn btn-light btn-sm" (click)="onSubmitRevision()">
                    Resend Work
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="hasDelivered" class="row" id="Card21">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                {{ deliveredDate }} @ {{ deliveredTime }}
                ------------------------------------------------------------------SERVICE
                DELIVERED-------------------------------------------------------------------------------------------
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasDelivered" class="row" id="Card20">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h4 text-align="center" class="DELIVERED">SERVICE COMPLETED</h4>
            <p>
              <span class="rosell">@{{ buyerPhone }}</span> was satisfied with
              the service you delivered and the funds have been released
            </p>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container"></div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm" id="Card18">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <hr />
            <div class="container">
              <div *ngIf="!hasSentDemo && !hasDelivered">
                <div class="row">
                  <mat-icon class="Icon">report</mat-icon>
                  <h6 class="WantTo">Want to cancel this order ?</h6>
                </div>
                <div class="row">
                  <a (click)="onCancelService()" class="nav-link" href="#">Click Here</a>
                </div>
              </div>
              <div class="row">
                <mat-icon class="Icon">report</mat-icon>
                <h6 class="Somethingunclair">Something unclair ?</h6>
              </div>
              <div class="row">
                <a class="nav-link" href="#">Check out our FAQs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>