<div class="container">
  <form (ngSubmit)="fescrowStep1(form, formTel)" #form="ngForm">
    <div class="row">
      <div class="col-sm" id="col-sm">
        <div class="card">
          <div class="ServiceStep1">
            <mat-icon class="cancel" routerLink="/home">cancel</mat-icon>
            <h6>Service: Step 1 of 2</h6>
            <hr />
            <div class="card-body">
              <div id="Please">
                <h5 class="Please">
                  Please provide details for the transaction
                </h5>
              </div>
              <div id="Form1">
                <div class="form-group">
                  <label id="PrincipaleTitle" style="margin-bottom: 20px;" for="exampleInputEmail1">What
                    {{transactionType | lowercase}} are you {{ role  |lowercase }}</label>
                  <input type="text" class="form-control" id="name" name='name' (click)="AfficheSide1()"
                    [ngClass]="InputControl1" ngModel />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">{{ buyerOrSeller  }} phone number </label>
                </div>
              </div>
              <form #formTel="ngForm">
                <intl-tel-input (click)="AfficheSide2()" [name]="'sellersPhone_number'" [options]="countryData"
                  [cssClass]="'form-control'" [onlyLocalized]="true" [(E164PhoneNumber)]="E164PhoneNumber">
                </intl-tel-input>
                <mat-error *ngIf="!Accept2 && !isValidNumber && !isValidSeller">invalid phone number</mat-error>
                <mat-error *ngIf="!isValidSeller && isValidNumber">this Seller is not registered on Noworri</mat-error>
              </form>
              <div id="Form2">
                <div class="WHAT">
                  <label id="PrincipaleTitle" for="exampleInputPassword1">What is the service price</label>
                </div>
                <label for="exampleInputEmail1">Price</label>
                <label style="margin-left: 400px;" for="exampleInputEmail1">CURRENCY</label>
                <div class="row">
                  <div class="col">
                    <input type="text" placeholder="" style="width: 420px;" class="form-control" id="price" name="price"
                      (click)="AfficheSide3()" [ngClass]="InputControl3" ngModel />
                  </div>
                  <div class="col">
                    <div class="input-group-text">
                      <img src="assets/images/devise.png" />
                      <h1 class="GHC">GHC</h1>
                    </div>
                  </div>
                </div>
                <div id="PetitInput1">
                  <div class="row">
                    <label style="margin-left: 20px;" for="exampleInputEmail1">Number of revisions</label>
                  </div>
                  <div class="row">
                    <select id="revisions" (click)="AfficheSide4()" style="margin-left: 20px;" name="revisions"
                      class="custom-select col-10" ngModel required>
                      <option selected>0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                      <option value="3">5</option>
                    </select>
                  </div>
                </div>
                <div>
                  <label class="setTransation" style="margin-top: 20px;">Set transaction deadline</label>
                </div>
                <div class="radioButton" [formGroup]='deadlineTypeRadio'>
                  <mat-radio-group aria-label="" (change)='getDeadlineType()' formControlName='radio'>
                    <mat-radio-button value="Days" class="days">Days</mat-radio-button>
                    <mat-radio-button value="Hours" class="hours">Hours</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div id="PetitInput2">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col-xs-12 col-12 col-md-4 form-group" *ngIf='DayInput'>
                          <input id="deadlineDays" name="deadlineDays" (click)='AfficheSide5()' type="text"
                            placeholder="Date" class="form-control" bsDatepicker ngModel [minDate]='minDate' ngModel />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="md-form" id="TimeInput" *ngIf='HourInput'>
                  <input id="deadLineHours" name="deadLineHours" (click)='AfficheSide5()' type="time" id="input"
                    class="form-control" value="13:00" mdbInput ngModel />
                </div>
                <div id="PetitInput3">
                  <label for="exampleInputEmail1">Requirements</label>
                  <textarea class="form-control" id="description" name="description" rows="3" (click)="AfficheSide7()"
                    [ngClass]="InputControl7" ngModel></textarea>
                </div>
                <br>
                <div class="row">
                  <input (change)="upload($event.target.files)" name="fileUpload[]" multiple ngModel #fileUpload
                    id="fileUpload" type="file" multiple class="choose">
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                      <div class="Loading">
                        <button *ngIf="isValidating" mat-raised-button>
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          processing...
                        </button>
                      </div>
                      <button type="submit" *ngIf="!isValidating" mat-raised-button> Continue</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="container" id="CARDS">
          <div class="col" id="card1" *ngIf="BoolAffichage1">
            <div class="card w-100">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      Tell us what service you're providing.

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card2">
            <div class="card w-100" *ngIf="BoolAffichage2">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      Enter the Phone number of the buyer.Make sure he has a Noworri's Account otherwise invite him HERE

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card3">
            <div class="card w-100" *ngIf="BoolAffichage3">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      Enter the price of the service , make sure both you and seller agree to the price
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card4">
            <div class="card w-100" *ngIf="BoolAffichage4">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      Enter the price of the service you're providing, make sure both you and buyer agree to the price
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card5">
            <div class="card w-100" *ngIf="BoolAffichage5">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      The number of tweaks you offer for the service
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card6">
            <div class="card w-100" *ngIf="BoolAffichage7">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      Set a delivery time that makes sense for you, based on the combined time it takes you to create
                      every part of the service.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card7">
            <div class="card w-100" *ngIf="BoolAffichage8">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      Do you need any requirements de complete the service? write it down
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>