<mat-card class="mat-card ml-10">
  <div>
    <div class="flex justify-center mt-4 mr-20">
      <img alt="Placeholder" class="block w-12 h-12 rounded-full" src="{{ ppURL }}" />
    </div>
    <mat-progress-bar *ngIf="isUpdating" mode="determinate" color="primary" [value]=40></mat-progress-bar>
  </div>
  <div class="flex justify-center mt-4 mr-20">
    <label for="fileUpload" class="btn underline text-center text-xs btn-primary btn-block btn-outlined"
      style="cursor: pointer;">Update Your Profil Picture</label>
    <input type="file" id="fileUpload" style="display: none" (change)="fileChangeEvent($event)" />
    <div *ngIf="imageChangedEvent" class="row" style="margin-top: 15px">
      <div class="text-center col-md-8">

        <h5>Crop Image</h5>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
          [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>
      <div class="text-center previewImage col-md-4">
        <h5>Preview</h5>
        <img [src]="croppedImage" />
      </div>
    </div>
    <div class="row">
      <button *ngIf="fileToUpload" mat-raised-button color="primary" (click)="UploadImage()">Update</button>
    </div>
  </div>

  <div class="grid flex mt-8 mr-20 grid-flow-col grid-cols-2 grid-rows-3 gap-x-8 gap-y-1">
    <div>
      <h4 class="text-xs text-gray-300">First Name</h4>
      <mat-form-field appearance="fill">
        <mat-label>{{ userData.first_name }}</mat-label>
        <input disabled matInput />
      </mat-form-field>
    </div>
    <div>
      <div>
        <h4 class="text-xs text-gray-300">Country</h4>
        <mat-form-field appearance="fill">
          <mat-label>{{ userData.country_code }}</mat-label>
          <input disabled matInput />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <h4 class="text-xs text-gray-300">Email address</h4>
        <!-- <mat-form-field appearance="fill">
                    <mat-label>{{ userData.email }}</mat-label>
                    <input matInput disabled>
                </mat-form-field> -->
        <mat-form-field appearance="fill">
          <mat-label>{{ userData.email }}</mat-label>
          <input matInput disabled />
          <button (click)="openDialog(true, false)" mat-icon-button matSuffix matTooltip="Change Email" type="button">
            <mat-icon [icIcon]="icEdit"></mat-icon>
          </button>
          <mat-hint>Click on the pencil to change your email</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <h4 class="text-xs text-gray-300">Last Name</h4>
        <mat-form-field appearance="fill">
          <mat-label>{{ userData.name }}</mat-label>
          <input disabled matInput />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <h4 class="text-xs text-gray-300">Phone Number</h4>
        <mat-form-field appearance="fill">
          <mat-label>{{ userData.mobile_phone }}</mat-label>
          <input disabled matInput />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <h4 class="text-xs text-gray-300">Password</h4>
        <!-- <mat-form-field appearance="fill">
                    <mat-label>**************</mat-label>
                    <input matInput type="password" disabled>
                </mat-form-field> -->
        <mat-form-field appearance="fill">
          <mat-label>**************</mat-label>
          <input matInput disabled />
          <button (click)="openDialog(false, true)" mat-icon-button matSuffix matTooltip="Change Password"
            type="button">
            <mat-icon [icIcon]="icEdit"></mat-icon>
          </button>
          <mat-hint>Click on the pencil to change your password</mat-hint>
        </mat-form-field>
      </div>
      <!-- <div class=" ml-10">
                <button class="mx-8" mat-raised-button color="primary">Save Changes</button>
            </div> -->
    </div>
  </div>
</mat-card>