<mat-card class="mat-card ml-10">
  <div>
    <div class="flex justify-center mt-4 mr-20">
      <img
        alt="Placeholder"
        class="block w-20 h-20 rounded-full"
        src="{{ ppURL }}"
      />
    </div>
  </div>

  <div class="flex justify-center mt-4 mr-20">
    <label
      for="fileUpload"
      class="btn underline text-center text-xs btn-primary btn-block btn-outlined"
      >Update Your Profil Picture</label
    >
    <input
      type="file"
      id="fileUpload"
      style="display: none"
      (change)="fileChangeEvent($event)"
    />
    <div *ngIf="imageChangedEvent" class="row" style="margin-top: 15px">
      <div class="text-center col-md-8">
        <h5>Crop Image</h5>
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          [resizeToWidth]="256"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
      <div class="text-center col-md-4">
        <h5>Preview</h5>
        <img [src]="croppedImage"  />
      </div>
    </div>
    <div class="row">
      <button
      *ngIf="fileToUpload"
      mat-raised-button
      color="primary"
      (click)="UploadImage()">Update</button>
    </div>
  </div>

  <div
    class="grid flex mt-8 mr-20 grid-flow-col grid-cols-2 grid-rows-3 gap-x-8 gap-y-1"
  >
    <div>
      <h4 class="text-xs text-gray-300">First Name</h4>
      <mat-form-field appearance="fill">
        <mat-label>{{ userData.first_name }}</mat-label>
        <input disabled matInput />
      </mat-form-field>
    </div>
    <div>
      <div>
        <h4 class="text-xs text-gray-300">Country</h4>
        <mat-form-field appearance="fill">
          <mat-label>{{ userData.country_code }}</mat-label>
          <input disabled matInput />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <h4 class="text-xs text-gray-300">Email address</h4>
        <!-- <mat-form-field appearance="fill">
                    <mat-label>{{ userData.email }}</mat-label>
                    <input matInput disabled>
                </mat-form-field> -->
        <mat-form-field appearance="fill">
          <mat-label>{{ userData.email }}</mat-label>
          <input matInput disabled />
          <button
            (click)="toggleUpdateEmailModal()"
            mat-icon-button
            matSuffix
            matTooltip="Change Email"
            type="button"
          >
            <mat-icon [icIcon]="icEdit"></mat-icon>
          </button>
          <mat-hint>Click on the pencil to change your email</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <h4 class="text-xs text-gray-300">Last Name</h4>
        <mat-form-field appearance="fill">
          <mat-label>{{ userData.name }}</mat-label>
          <input disabled matInput />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <h4 class="text-xs text-gray-300">Phone Number</h4>
        <mat-form-field appearance="fill">
          <mat-label>{{ userData.mobile_phone }}</mat-label>
          <input disabled matInput />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <h4 class="text-xs text-gray-300">Password</h4>
        <!-- <mat-form-field appearance="fill">
                    <mat-label>**************</mat-label>
                    <input matInput type="password" disabled>
                </mat-form-field> -->
        <mat-form-field appearance="fill">
          <mat-label>**************</mat-label>
          <input matInput disabled />
          <button
            (click)="toggleUpdatePasswordModal()"
            mat-icon-button
            matSuffix
            matTooltip="Change Password"
            type="button"
          >
            <mat-icon [icIcon]="icEdit"></mat-icon>
          </button>
          <mat-hint>Click on the pencil to change your password</mat-hint>
        </mat-form-field>
      </div>
      <!-- <div class=" ml-10">
                <button class="mx-8" mat-raised-button color="primary">Save Changes</button>
            </div> -->
    </div>
  </div>
</mat-card>
<!-- popup -->

<div
  *ngIf="showPaswordModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-auto my-6 mx-auto max-w-sm">
    <!--content-->
    <form [formGroup]="updatePasswordForm">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
      >
        <!--header-->
        <div
          class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
        >
          <h3 class="text-sm text-gray-300">UPDATE PASSWORD</h3>
          <button
            class="p-1 ml-auto bg-transparent border-0 text-red opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
            (click)="toggleUpdatePasswordModal()"
          >
            <span
              class="bg-transparent -mt-2 text-red opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
            >
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <div>
            <mat-form-field appearance="fill">
              <mat-label class="text-xs text-gray-300"
                >Current Password</mat-label
              >
              <input
                type="password"
                formControlName="currentPswd"
                matInput
                required
              />
              <!-- <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                          <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                          <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                        </button> -->
              <mat-error
                *ngIf="
                  updatePasswordForm.get('currentPswd').hasError('required')
                "
                >Current password is required</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label class="text-xs text-gray-300">New Password</mat-label>
              <input
                [type]="inputType"
                formControlName="newPswd"
                matInput
                required
              />
              <button
                (click)="toggleVisibility()"
                mat-icon-button
                matSuffix
                matTooltip="Toggle Visibility"
                type="button"
              >
                <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                <mat-icon
                  *ngIf="!visible"
                  [icIcon]="icVisibilityOff"
                ></mat-icon>
              </button>
              <mat-hint>Click the eye to toggle visibility</mat-hint>
              <mat-error
                *ngIf="updatePasswordForm.get('newPswd').hasError('required')"
                >New password is required</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label class="text-xs text-gray-300"
                >Confirm Password</mat-label
              >
              <input
                [type]="inputType"
                formControlName="confirmPswd"
                matInput
                required
              />
              <button
                (click)="toggleVisibility()"
                mat-icon-button
                matSuffix
                matTooltip="Toggle Visibility"
                type="button"
              >
                <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                <mat-icon
                  *ngIf="!visible"
                  [icIcon]="icVisibilityOff"
                ></mat-icon>
              </button>
              <mat-hint>Click the eye to toggle visibility</mat-hint>
              <mat-error
                *ngIf="
                  updatePasswordForm.get('confirmPswd').hasError('required')
                "
                >Confirmation is required</mat-error
              >
            </mat-form-field>
          </div>
          <mat-error *ngIf="updatePasswordForm.errors?.passwordsDoNotMatch">
            The Passwords Do Not Match
          </mat-error>
        </div>
        <!--footer-->
        <div
          class="flex items-center justify-center mt-8 mb-4 border-blueGray-200 rounded-b"
        >
          <button
            (click)="updatePassword()"
            [disabled]="updatePasswordForm.invalid"
            mat-raised-button
            color="primary"
          >
            Update Password
          </button>
        </div>
        <div class="row">
          <mat-error *ngIf="hasError"> Current Password is Wrong! </mat-error>
        </div>
      </div>
    </form>
  </div>
</div>
<div
  *ngIf="showPaswordModal"
  class="opacity-25 fixed inset-0 z-40 bg-black"
></div>
<!-- popup -->

<!-- popup -->

<div
  *ngIf="showEmailModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-auto my-6 mx-auto max-w-sm">
    <!--content-->
    <form [formGroup]="updateEmailForm">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
      >
        <!--header-->
        <div
          class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
        >
          <h3 class="text-sm text-gray-300">UPDATE EMAIL</h3>
          <button
            class="p-1 ml-auto bg-transparent border-0 text-red opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
            (click)="toggleUpdateEmailModal()"
          >
            <span
              class="bg-transparent -mt-2 text-red opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
            >
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <div>
            <mat-form-field *ngIf="!isOTPSent" appearance="fill">
              <mat-label class="text-xs text-gray-300">
                Current Email</mat-label
              >
              <input matInput type="email" formControlName="email" />
            </mat-form-field>
            <div *ngIf="isOTPSent">
              <mat-label>OTP CODE</mat-label>
              <div class="row">
                <ng-otp-input
                  class="otp"
                  (onInputChange)="onOtpInput($event)"
                  [config]="{ length: 5, size: 3 }"
                ></ng-otp-input>
              </div>
            </div>
          </div>
        </div>
        <!--footer-->
        <div
          *ngIf="!isOTPSent"
          class="flex items-center justify-center mt-8 mb-4 border-blueGray-200 rounded-b"
        >
          <button
            [disabled]="!isButtonActive"
            (click)="sendVerificationCode()"
            mat-raised-button
            color="primary"
          >
            Send Verification Code
          </button>
        </div>
        <!--footer-->
        <div
          *ngIf="isOTPSent"
          class="flex items-center justify-center mt-8 mb-4 border-blueGray-200 rounded-b"
        >
          <button
            [disabled]="!isButtonActive"
            (click)="verifyOTP()"
            mat-raised-button
            color="primary"
          >
            Verify Email
          </button>
          <mat-error *ngIf="hasError">{{ codeError }}</mat-error>
        </div>
      </div>
    </form>
  </div>
</div>
<div
  *ngIf="showEmailModal"
  class="opacity-25 fixed inset-0 z-40 bg-black"
></div>
<!-- popup -->
