<div class="container" id="Container">
  <div class="row">
    <div class="col-sm">
      <!-- ----------Main------------->
      <div class="row" id="Card1">
        <div class="card">
          <div class="card-body" id="card-body1">
            <hr />
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <h6 class="TransactionID">
                    Transaction ID {{ transactionId }}
                  </h6>
                </div>
                <div class="col-sm">
                  <h6 class="HideContrat">
                    <!-- (click)="isCollapsed1 = !isCollapsed1"
                  [attr.aria-expanded]="!isCollapsed1" -->

                    {{ message1 }} Contrat
                  </h6>
                </div>
                <div class="col-sm">
                  <h6 class="expandmore">
                    <mat-icon>{{ message2 }}</mat-icon>
                  </h6>
                </div>
                <div class="col-sm" id="GH">
                  <h6 class="GH550">GH 550.00</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card2">
        <div id="collapseBasic">
          <!-- [collapse]="isCollapsed1"
        [isAnimated]="true"
        [collapse]="isCollapsed"
        (collapses)="collapses()"
        (expands)="expands()"
        (collapsed)="collapsed()"
        (expanded)="expanded()" -->
          <div class="card" id="" style="width: 50rem;">
            <div class="card-body" id="card-body2">
              <div class="container">
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Item">Item</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount">Amount</h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline">Deadline</h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Revisions">Revisions</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm">
                    <h6 class="Anandroidmobile">
                      {{ item }}
                    </h6>
                  </div>
                  <div class="col-sm col5">
                    <h6 class="cinq1">{{ amount }}</h6>
                  </div>
                  <div class="col-sm col6">
                    <h6 class="Days12Hours">{{ deadline }}</h6>
                  </div>
                  <div class="col-sm col7">
                    <h6 class="Trois">{{ revisions }}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm col8">
                    <h6 class="NoworriFees">Noworri Fees</h6>
                  </div>
                  <div class="col-sm col9">
                    <h6 class="quinz">{{ noworriFee }}</h6>
                  </div>
                  <div class="col-sm"></div>
                  <div class="col-sm"></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h6 class="NETPAYABLE">NET PAYABLE</h6>
                  </div>
                  <div class="col-sm">
                    <h6 class="cinq2">{{ totalAmount }}</h6>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card3">
        <div class="container">
          <div class="row">
            <div class="col-sm col10">
              <h6 class="ORDERREQUIREMENTS">SERVICE REQUIREMENTS</h6>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm col11">
              <h6 class="HideRequirement">
                <!-- (click)="isCollapsed2 = !isCollapsed2"
              [attr.aria-expanded]="!isCollapsed2" -->

                {{ message3 }} requirement
              </h6>
            </div>
            <div class="col-sm col12">
              <h6 class="expandmore">
                <mat-icon>{{ message4 }}</mat-icon>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card4">
        <div id="collapseBasic">
          <!-- [collapse]="isCollapsed2"
        [isAnimated]="true"
        [collapse]="isCollapsed"
        (collapses)="collapsess()"
        (expands)="expands()"
        (collapsed)="collapsed()"
        (expanded)="expandeds()" -->
          <div class="card" style="width: 50rem;">
            <div class="card-body">
              <p>
                {{ description }}
              </p>
              <div class="container">
                <h6
                  *ngFor="let item of uploadedFiles"
                  class="AttachedFile"
                  (click)="onOpenAttachedFile(item)"
                >
                  {{ item }}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card5">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                {{ creationDate }} @ {{ creationTime }}
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isUserBuyer" class="row" id="Card6">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              <span class="false102">@{{ businessName }} </span> Sent you a
              contract in which you are to hire his services
            </h6>
            <div class="row">
              <div class="col" id="Delivred">
                <div *ngIf="isValidating" class="Loading">
                  <button>
                    <span
                      class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    processing...
                  </button>
                </div>
                <button
                  *ngIf="!hasAgreed && !isValidating"
                  type="button"
                  (click)="approveContract()"
                  class="btn btn-light btn-sm"
                >
                  AGREE
                </button>
              </div>
              <div class="col"></div>
            </div>
            <!-- <button type="button" class="btn btn-light btn-sm">
              Send Reminder
            </button> -->
          </div>
        </div>
      </div>
      <div *ngIf="!isUserBuyer" class="row" id="Card6">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              The contract has been sent successfully to
              <span class="false102">@{{ businessName }} </span>, we will let
              you know when the seller accepts it.
            </h6>
            <!-- <button type="button" class="btn btn-light btn-sm">
              Send Reminder
            </button> -->
          </div>
        </div>
      </div>
      <div *ngIf="hasAgreed" class="row" id="Card7">
        <div class="col-sm col15">
          <h6 class="HeureEtDate">{{ agreedDate }} @ {{ agreedTime }}</h6>
        </div>
      </div>
      <div *ngIf="hasAgreed" class="row" id="Card8">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6 *ngIf="!isUserBuyer">
              <span class="false102">@{{ businessName }}</span> has agreed to
              the contract you can now secure the funds
            </h6>
            <h6 *ngIf="isUserBuyer">
              You agreed to the contract for the service. You can now secure the
              funds
            </h6>
            <div *ngIf="isSecuring" class="Loading">
              <button>
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                processing...
              </button>
            </div>
            <button
              *ngIf="!hasSecuredFunds && !isSecuring"
              (click)="onSecureFunds()"
              type="button"
              class="btn btn-light btn-sm"
            >
              Secure Funds
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="hasAgreed && hasSecuredFunds" class="row" id="Card7">
        <div class="col-sm col15">
          <h6 class="HeureEtDate">{{ securedDate }} @ {{ securedTime }}</h6>
        </div>
      </div>
      <div *ngIf="hasAgreed && hasSecuredFunds" class="row" id="Card8">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              You secured the funds for this Service.
              <span class="false102"> @{{ businessName }}</span> Has till the
              end of the count down to submit the work
            </h6>
            <div class="row">
              <div class="col-sm" id="HeureButton">
                <button type="button" class="btn btn-light">
                  DD:HH:MM:SS
                  <h5>
                    <div class="container">
                      <div class="row">
                        <countdown-timer
                          [end]="countDownStop"
                        ></countdown-timer>
                      </div>
                    </div>
                  </h5>
                </button>
              </div>
              <div class="col-sm"></div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasStartedService" class="row" id="Card9">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">{{ startedDate }} @ {{ startedTime }}</h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasStartedService" class="row" id="Card10">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            The service has been initiated and is in progress. We will notify
            you when <span class="false102"> @{{ businessName }}</span> submits
            the work
            <div class="row">
              <div class="col speci1"></div>
              <div class="col speci2">
                <!-- <div class="col-sm" id="HeureButton">
                  <button type="button" class="btn btn-light">
                    05 : 25 : 09
                  </button>
                </div> -->
              </div>
              <div class="col speci3"></div>
            </div>
            <!-- <button *ngIf="!isFundsReleased" (click)="onReleaseFunds()" type="button"  id="Button" class="btn btn-light btn-sm">
              Release Funds
            </button> -->
          </div>
        </div>
      </div>
      <div *ngIf="hasSentDemo" class="row" id="Card11">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                {{ demoDate }} @ {{ demoTime }}
                ----------------------------------------------------------------------
                SERVICE
                ---------------------------------------------------------------------
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasSentDemo" class="row" id="Card12">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              @{{ businessName }} sent you the confirmation that he completed
              the service
            </h6>
            <br />
            <p>{{ stepDeliveryDescription }}</p>
            <div class="container">
              <h6
                *ngFor="let item of workUploadedFiles"
                class="AttachedFile"
                (click)="onOpenAttachedFile(item)"
                style="font-weight: bold;"
              >
                {{ item }}
              </h6>
            </div>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row"></div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <!-- <div>
              <h5 class="Video">Video.MP4</h5>
              <h5 class="WebSite">Web site design.adobe.xd</h5>
            </div> -->
            <div class="container">
              <div class="row">
                <!-- <div class="col-sm" id="ReleaseFundss">
                  <button (click)="onReleaseFunds()" type="button" class="btn btn-light btn-sm">
                    Release Funds
                  </button>
                </div> -->
                <div class="col-sm" id="Revisions">
                  <button
                    *ngIf="!hasRevisions"
                    (click)="openEditor()"
                    type="button"
                    class="btn btn-light btn-sm"
                  >
                    Revise
                    <span style="color: #ff0045;">{{ revisionsLeft }} left</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card19" *ngIf="ShowOrNotOpenNoteInput">
        <form (ngSubmit)="onSendRevision(form)" #form="ngForm">
          <div class="card" style="width: 50rem;">
            <div class="card-body">
              <editor
                name="editor"
                apiKey="Get your free API key and paste it here"
                plugins="wordcount"
                outputFormat="text"
                ngModel
              ></editor>
              <input type="hidden" name="details" id="details" />
              <div class="container">
                <div class="container">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                      <h5>
                        <div class="container">
                          <div class="row">
                            <div class="col-sm"></div>
                            <div class="col-sm"></div>
                          </div>
                        </div>
                      </h5>
                    </div>
                    <div class="col-sm"></div>
                  </div>
                </div>
                <br />
                <!-- <div class="row">
                  <input (change)="upload($event.target.files)" type="file" #fileUpload id="fileUpload" name="fileUpload[]" multiple ngModel/>
                </div> -->
                <br />
                <div class="col" id="Delivred">
                  <div *ngIf="isSubmitting" class="Loading">
                    <button>
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Sending...
                    </button>
                  </div>
                  <button
                    *ngIf="!isSubmitting"
                    type="submit"
                    class="btn btn-light btn-sm"
                    (click)="onSendRevision()"
                  >
                    Request Revision
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="hasSentDemo && !hasNewRevision" class="row" id="Card13">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              The service has been delivered,the funds will be automatically
              released at the end of the this countdown if no action is taken
            </h6>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <div class="col-sm" id="HeureButton">
                  <div class="row">
                    <div class="col-sm"></div>
                    <!-- <div class="col-sm" id="HeureButton"> -->
                      <button type="button" class="btn btn-light">
                        <h5>
                          <div class="container">
                            <div class="row">
                              <countdown-timer
                                [end]="paymentCountDown"
                              ></countdown-timer>
                            </div>
                          </div>
                        </h5>
                      </button>
                    <!-- </div> -->
                    <div class="col-sm"></div>
                  </div>
                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="hasRevisions && hasRevisionResult" class="row" id="Card14">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                {{ revisionDate }} @ {{ revisionTime }}
                ------------------------------------------------------------------------
                Revision
                -------------------------------------------------------------------------------------------------
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasRevisions && hasRevisionResult" class="row" id="Card15">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              {{ revisionDescription }}
            </h6>
            <div class="container">
              <h6
                *ngFor="let item of revisionUploadedFiles"
                class="AttachedFile"
                (click)="onOpenAttachedFile(item)"
                style="font-weight: bold;"
              >
                {{ item }}
              </h6>
            </div>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row"></div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row" id="Card16">
                <!-- <div class="col-sm" id="ReleaseFundss">
                  <button type="button" class="btn btn-light btn-sm">
                    Release Funds
                  </button>
                </div> -->
                <div class="col-sm" id="Revisions">
                  <button (click)=onOpenRevisionEditor() type="button" class="btn btn-light btn-sm" *ngIf="hasRevisionsLeft">
                    Revise
                    <span style="color: #ff0045;">{{ revisionsLeft }} left</span>
                  </button>
                  <button type="button" class="btn btn-light btn-sm" *ngIf="!hasRevisionsLeft">
                    <span style="color: #ff0045;">{{ revisionsLeft }} Revisions left</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="Card19" *ngIf="showRevisionInput">
        <form (ngSubmit)="onSendRevision(form)" #form="ngForm">
          <div class="card" style="width: 50rem;">
            <div class="card-body">
              <editor
                name="editor"
                apiKey="Get your free API key and paste it here"
                plugins="wordcount"
                outputFormat="text"
                ngModel
              ></editor>
              <input type="hidden" name="details" id="details" />
              <div class="container">
                <div class="container">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                      <h5>
                        <div class="container">
                          <div class="row">
                            <div class="col-sm"></div>
                            <div class="col-sm"></div>
                          </div>
                        </div>
                      </h5>
                    </div>
                    <div class="col-sm"></div>
                  </div>
                </div>
                <br />
                <!-- <div class="row">
                  <input (change)="upload($event.target.files)" type="file" #fileUpload id="fileUpload" name="fileUpload[]" multiple ngModel/>
                </div> -->
                <br />
                <div class="col" id="Delivred">
                  <div *ngIf="isSubmitting" class="Loading">
                    <button>
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Sending...
                    </button>
                  </div>
                  <button
                    *ngIf="!isSubmitting"
                    type="submit"
                    class="btn btn-light btn-sm"
                    (click)="onSendRevision()"
                  >
                    Request Revision
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="hasRevisionResult" class="row" id="Card13">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h6>
              The service has been delivered based on requested revisions.</h6> 
            <h6>The funds will be automatically
              released at the end of the this countdown if no action is taken
            </h6>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <div class="col-sm" id="HeureButton">
                  <div class="row">
                    <div class="col-sm"></div>
                    <!-- <div class="col-sm" id="HeureButton"> -->
                      <button type="button" class="btn btn-light">
                        <h5>
                          <div class="container">
                            <div class="row">
                              <countdown-timer
                                [end]="paymentCountDown"
                              ></countdown-timer>
                            </div>
                          </div>
                        </h5>
                      </button>
                    <!-- </div> -->
                    <div class="col-sm"></div>
                  </div>
                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div *ngIf="hasSentDemo" class="row" id="Card9">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">{{ demoDate }} @ {{ demoTime }}</h6>
            </div>
          </div>
        </div>
      </div> -->
      <div *ngIf="hasSentDemo" class="row" id="Card10">
        <div class="card" style="width: 50rem;">
          <div *ngIf="!isFundsReleased" class="card-body">
            <h6>
              If you are satisfied with the delivered service, please hit the
              approve button to complete the transaction
            </h6>
            <h6>(The funds will be released automatically)</h6>
            <div class="row">
              <div class="col speci1"></div>
              <div class="col speci2">
                <!-- <div class="col-sm" id="HeureButton">
                  <button type="button" class="btn btn-light">
                    05 : 25 : 09
                  </button>
                </div> -->
              </div>
              <div class="col speci3"></div>
            </div>
            <div *ngIf="isApproving" class="Loading">
              <button>
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Sending...
              </button>
            </div>
            <button
              *ngIf="!isFundsReleased && !isApproving"
              (click)="onApproveService()"
              type="button"
              id="Button"
              class="btn btn-light btn-sm"
            >
              Approve
            </button>
          </div>
          <div *ngIf="isFundsReleased" class="card-body">
            <h6>
              You confirmed the service completion and released the funds for
              this transaction
            </h6>
            <div class="row">
              <div class="col speci1"></div>
              <div class="col speci2"></div>
              <div class="col speci3"></div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasDelivered" class="row" id="Card16">
        <div class="container">
          <div class="row">
            <div class="col-sm col14">
              <h6 class="HeureEtDate">
                {{ deliveredDate }} @ {{ deliveredTime }}
                --------------------------------------------------------------------
                CONTRACT COMPLETED
                -------------------------------------------------------------------------------------
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="hasDelivered" class="row" id="Card17">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h4 class="DELIVERED">DELIVERED</h4>
            <h6>
              {{ stepDeliveryDescription }}
            </h6>
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <h5>
                      <div class="container">
                        <div class="row"></div>
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm"></div>
                </div>
              </div>
            </div>
            <!-- <div>
              <h5 class="Video">Video.MP4</h5>
              <h5 class="WebSite">Web site design.adobe.xd</h5>
            </div> -->
            <div class="container">
              <div class="row" id="Card16">
                <div class="col-sm" id="ReleaseFundss">
                  <button
                    *ngIf="!isFundsReleased"
                    (click)="onReleaseFunds()"
                    type="button"
                    class="btn btn-light btn-sm"
                  >
                    Release Funds
                  </button>
                </div>
                <!-- <div class="col-sm" id="Revisions">
                  <button type="button" class="btn btn-light btn-sm">
                    Revisions <span style="color:#FF0045">{{ revisions }}</span>
                  </button>
                </div>
                <div class="col-sm" id="HeureButton">
                  <button type="button" class="btn btn-light">
                    05 : 25 : 09
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm" id="Card18">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <hr />
            <div class="container">
              <div class="row">
                <mat-icon class="Icon">report</mat-icon>
                <h6 class="WantTo">Want to cancel this service ?</h6>
              </div>
              <div class="row">
                <a class="nav-link" href="#">Click Here</a>
              </div>
              <div class="row">
                <mat-icon class="Icon">report</mat-icon>
                <h6 class="Somethingunclair">Something unclair ?</h6>
              </div>
              <div class="row">
                <a class="nav-link" href="#">Check out our FAQs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
