<!-- <div class="bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
    <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
        <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
            <div class="fill-current text-center">
                <img class="w-40 h-80" src="../../../../../assets/img/img/logo transparence.png">
            </div>
        </div>

        <div class="text-center mt-4">
            <h2 class="title m-0">Reset Password</h2>
            <h4 class="body-2 text-secondary m-0">Enter your phone number for password recovery.</h4>
        </div>

        <div [formGroup]="form" class="p-6 flex flex-col">
            <mat-form-field>
                <mat-label>Phone number</mat-label>

                <mat-icon [icIcon]="icMail" class="mr-2" matPrefix></mat-icon>
                <input formControlName="email" matInput required>
                <mat-error *ngIf="form.get('email').hasError('required')">
                    We can't recover your password, without your phone number.
                </mat-error>
            </mat-form-field>

            <button (click)="send()" class="mt-2" color="primary" mat-raised-button type="button">
                SEND OTP
            </button>
        </div>
    </div>
</div> -->
<div class="relative w-auto my-6 mx-auto max-w-sm">
    <!--content-->
    <form [formGroup]="updatePasswordForm">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
      >
        <!--header-->
        <!--body-->
        <div class="relative p-6 flex-auto">
          <div>
            <mat-form-field appearance="fill">
              <mat-label class="text-xs text-gray-300"
                >Current Password</mat-label
              >
              <input
                type="password"
                formControlName="currentPswd"
                matInput
                required
              />
              <!-- <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                          <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                          <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                        </button> -->
              <mat-error
                *ngIf="
                  updatePasswordForm.get('currentPswd').hasError('required')
                "
                >Current password is required</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label class="text-xs text-gray-300">New Password</mat-label>
              <input
                [type]="inputType"
                formControlName="newPswd"
                matInput
                required
              />
              <button
                (click)="toggleVisibility()"
                mat-icon-button
                matSuffix
                matTooltip="Toggle Visibility"
                type="button"
              >
                <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                <mat-icon
                  *ngIf="!visible"
                  [icIcon]="icVisibilityOff"
                ></mat-icon>
              </button>
              <mat-hint>Click the eye to toggle visibility</mat-hint>
              <mat-error
                *ngIf="updatePasswordForm.get('newPswd').hasError('required')"
                >New password is required</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label class="text-xs text-gray-300"
                >Confirm Password</mat-label
              >
              <input
                [type]="inputType"
                formControlName="confirmPswd"
                matInput
                required
              />
              <button
                (click)="toggleVisibility()"
                mat-icon-button
                matSuffix
                matTooltip="Toggle Visibility"
                type="button"
              >
                <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                <mat-icon
                  *ngIf="!visible"
                  [icIcon]="icVisibilityOff"
                ></mat-icon>
              </button>
              <mat-hint>Click the eye to toggle visibility</mat-hint>
              <mat-error
                *ngIf="
                  updatePasswordForm.get('confirmPswd').hasError('required')
                "
                >Confirmation is required</mat-error>
            </mat-form-field>
          </div>
          <mat-error *ngIf="updatePasswordForm.errors?.passwordsDoNotMatch">
              The Passwords Do Not Match
          </mat-error>
        </div>
        <!--footer-->
        <div
          class="flex items-center justify-center mt-8 mb-4 border-blueGray-200 rounded-b"
        >
          <button (click)="updatePassword()" [disabled]="updatePasswordForm.invalid" mat-raised-button color="primary">
            Update Password
          </button>
        </div>
        <div class="row">
          <mat-error *ngIf="hasError">
            Current Password is Wrong!
          </mat-error>
        </div>
      </div>
    </form>
  </div>