<mat-card class="mat-card ml-10 mt-12 pb-10">
  <mat-tab-group>
    <mat-tab label="Business profil">
      <div class="grid flex mt-8 mr-20 grid-flow-col grid-cols-2 grid-rows-3 gap-x-8 gap-y-1">
        <div>
          <h4 class="text-xs text-gray-300">Trading Name</h4>
          <mat-form-field appearance="fill">
            <mat-label>{{ userBusinessData.trading_name }}</mat-label>
            <input disabled matInput />
          </mat-form-field>
        </div>
        <div>
          <div>
            <h4 class="text-xs text-gray-300">Country</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ userBusinessData.country }}</mat-label>
              <input disabled matInput />
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
            <h4 class="text-xs text-gray-300">Business Email</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ userBusinessData.business_email }}</mat-label>
              <input matInput disabled matInput />
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
            <h4 class="text-xs text-gray-300">Legal Name</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ userBusinessData.business_legal_name }}</mat-label>
              <input disabled matInput />
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
            <h4 class="text-xs text-gray-300">Business Phone Number</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ userBusinessData.business_phone }}</mat-label>
              <input disabled matInput />
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
            <h4 class="text-xs text-gray-300">User Id</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ userBusinessData.user_id }}</mat-label>
              <input matInput disabled matInput />
            </mat-form-field>
          </div>
          <!-- <div class=" ml-10">
                        <button class="mx-8" mat-raised-button color="primary">Save Changes</button>
                    </div> -->
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Payout account">
      <div *ngIf="!hasPayoutAccount" class="mt-8">
        <h4 (click)="openDialog(true, false)" class="text-sm underline cursor-pointer text-gray-300">
          Add Payout Account
        </h4>
      </div>
      <div class="mt-8">
        <div class="grid grid-flow-col grid-cols-4 grid-rows-1 gap-4">
          <div>
            <h4 class="text-sm text-gray-300">Currency</h4>
          </div>
          <div>
            <h4 class="text-sm text-gray-300">Bank/Mobile Money</h4>
          </div>
          <div>
            <h4 class="text-sm text-gray-300">Account No</h4>
          </div>
          <div>
            <h4 class="text-sm text-gray-300">Enabled</h4>
          </div>
        </div>
        <div *ngIf="hasPayoutAccount" class="grid mt-8 grid-flow-col grid-cols-4 grid-rows-1 gap-4">
          <div>
            <h4 class="text-xs text-gray-300">
              {{ userData?.currency }}
            </h4>
          </div>
          <div>
            <h4 class="text-xs text-gray-300">
              {{ businessAccountDetails?.bank_name }}
            </h4>
            <h4 class="text-xs text-red -mt-2 underline cursor-pointer text-gray-300" (click)="openDialog(false, true)">
              Update Payout Account
            </h4>
          </div>
          <div>
            <h4 class="text-xs text-gray-300">
              xxxxxx{{ businessAccountDetails?.account_no | slice: 5:9 }}
            </h4>
          </div>
          <div>
            <h4 class="text-xs text-gray-300">Default</h4>
          </div>
        </div>
        <div *ngIf="!hasPayoutAccount" class="grid mt-8 grid-flow-col grid-cols-4 grid-rows-1 gap-4">
          <h3 class="flex flex-col w-full">No Payout Account Added Yet.</h3>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>