<mat-card class="mat-card ml-10 mt-12 pb-10">
  <mat-tab-group>
    <mat-tab label="Business profil">
      <div class="grid flex mt-8 mr-20 grid-flow-col grid-cols-2 grid-rows-3 gap-x-8 gap-y-1">
        <div>
          <h4 class="text-xs text-gray-300">Trading Name</h4>
          <mat-form-field appearance="fill">
            <mat-label>{{ userBusinessData.trading_name }}</mat-label>
            <input disabled matInput />
          </mat-form-field>
        </div>
        <div>
          <div>
            <h4 class="text-xs text-gray-300">Country</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ userBusinessData.country }}</mat-label>
              <input disabled matInput />
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
            <h4 class="text-xs text-gray-300">Business Email</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ userBusinessData.business_email }}</mat-label>
              <input matInput disabled matInput />
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
            <h4 class="text-xs text-gray-300">Legal Name</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ userBusinessData.business_legal_name }}</mat-label>
              <input disabled matInput />
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
            <h4 class="text-xs text-gray-300">Business Phone Number</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ userBusinessData.business_phone }}</mat-label>
              <input disabled matInput />
            </mat-form-field>
          </div>
        </div>
        <div>
          <div>
            <h4 class="text-xs text-gray-300">User Id</h4>
            <mat-form-field appearance="fill">
              <mat-label>{{ userBusinessData.user_id }}</mat-label>
              <input matInput disabled matInput />
            </mat-form-field>
          </div>
          <!-- <div class=" ml-10">
                        <button class="mx-8" mat-raised-button color="primary">Save Changes</button>
                    </div> -->
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Payout account">
      <div *ngIf="!hasPayoutAccount" class="mt-8">
        <h4 (click)="toggleModal()" class="text-sm underline cursor-pointer text-gray-300">
          Add Payout Account
        </h4>
      </div>
      <div class="mt-8">
        <div class="grid grid-flow-col grid-cols-4 grid-rows-1 gap-4">
          <div>
            <h4 class="text-sm text-gray-300">Currency</h4>
          </div>
          <div>
            <h4 class="text-sm text-gray-300">Bank/Mobile Money</h4>
          </div>
          <div>
            <h4 class="text-sm text-gray-300">Account No</h4>
          </div>
          <div>
            <h4 class="text-sm text-gray-300">Enabled</h4>
          </div>
        </div>
        <div *ngIf="hasPayoutAccount" class="grid mt-8 grid-flow-col grid-cols-4 grid-rows-1 gap-4">
          <div>
            <h4 class="text-xs text-gray-300">
              {{ userData?.currency }}
            </h4>
          </div>
          <div>
            <h4 class="text-xs text-gray-300">
              {{ businessAccountDetails?.bank_name }}
            </h4>
            <h4 class="text-xs text-red -mt-2 underline cursor-pointer text-gray-300"
              (click)="toggleUpdateAccountModal()">
              Update Payout Account
            </h4>
          </div>
          <div>
            <h4 class="text-xs text-gray-300">
              xxxxxx{{ businessAccountDetails?.account_no | slice: 5:9 }}
            </h4>
          </div>
          <div>
            <h4 class="text-xs text-gray-300">Default</h4>
          </div>
        </div>
        <div *ngIf="!hasPayoutAccount" class="grid mt-8 grid-flow-col grid-cols-4 grid-rows-1 gap-4">
          <h3 class="flex flex-col w-full">No Payout Account Added Yet.</h3>
        </div>
      </div>

      <!-- popup -->

      <div *ngIf="showModal"
        class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-auto my-6 mx-auto max-w-sm">
          <!--content-->
          <form [formGroup]="accountDetails">
            <div
              class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
              <!--header-->
              <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                <h3 class="text-sm text-gray-300">ADD A PAYOUT ACCOUNT</h3>
                <button
                  class="p-1 ml-auto bg-transparent border-0 text-red opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                  (click)="toggleModal()">
                  <span
                    class="bg-transparent -mt-2 text-red opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                    ×
                  </span>
                </button>
              </div>
              <!--body-->
              <div class="relative p-6 flex-auto">
                <div>
                  <div class="-mt-4 mb-4">
                    <h4 class="text-xs underline cursor-pointer text-gray-300">
                      Bank account or Mobile Money
                    </h4>
                  </div>
                  <mat-form-field appearance="fill">
                    <mat-label class="text-xs text-gray-300">Select your Mobile Money/Bank account</mat-label>
                    <mat-select formControlName="bankName">
                      <mat-option *ngFor="let name of bankNames" class="text-xs text-gray-300" [value]="name">
                        {{ name }}
                        <!-- <h4 class="text-xs   text-gray-300">{{ bank.name }}</h4> -->
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label class="text-xs text-gray-300">
                      Acount Number</mat-label>
                    <input matInput formControlName="accountNo" />
                  </mat-form-field>

                </div>
              </div>
              <!--footer-->
              <div class="flex items-center justify-center mt-8 mb-4 border-blueGray-200 rounded-b">
                <button (click)="setupAccountDetailsForm()" mat-raised-button color="primary">
                  Add payout Account
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="showModal" class=" opacity-25 fixed inset-0 z-40 bg-black"></div>
      <!-- popup -->

      <!-- popup edit -->
      <div *ngIf="showUpdateModal"
        class="    overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-auto my-6 mx-auto max-w-sm">
          <!--content-->
          <form [formGroup]="accountDetails">
            <div
              class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
              <!--header-->
              <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                <h3 class="text-sm text-gray-300">UPDATE PAYOUT ACCOUNT</h3>
                <button
                  class="p-1 ml-auto bg-transparent border-0 text-red opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                  (click)="toggleUpdateAccountModal()">
                  <span
                    class="bg-transparent -mt-2 text-red opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                    ×
                  </span>
                </button>
              </div>
              <!--body-->
              <div class="relative p-6 flex-auto">
                <div>
                  <div class="-mt-4 mb-4">
                    <h4 class="text-xs underline cursor-pointer text-gray-300">
                      Bank account or Mobile Money
                    </h4>
                  </div>
                  <mat-form-field appearance="fill">
                    <mat-label class="text-xs text-gray-300">Select your Mobile Money/Bank account</mat-label>
                    <mat-select formControlName="bankName">
                      <mat-option *ngFor="let name of bankNames" class="text-xs text-gray-300" [value]="name">
                        {{ name }}
                        <!-- <h4 class="text-xs   text-gray-300">{{ bank.name }}</h4> -->
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label class="text-xs text-gray-300">
                      Acount Number</mat-label>
                    <input matInput formControlName="accountNo" />
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label class="text-xs text-gray-300">
                      {{businessAccountDetails.holder_name}}</mat-label>
                    <input matInput formControlName="holderName" />
                  </mat-form-field>
                </div>
              </div>
              <!--footer-->
              <div class="flex items-center justify-center mt-8 mb-4 border-blueGray-200 rounded-b">
                <button (click)="setupUpdateAccountDetailsForm()" mat-raised-button color="primary">
                  Update Account
                </button>
                <h4 class="text-xs text-red -mt-2 underline cursor-pointer text-gray-300">
                  {{errorMessage}}
                </h4>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="showUpdateModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
      <!-- popup edit -->
    </mat-tab>
  </mat-tab-group>
</mat-card>