<mat-card class="mat-card ml-10">
    <div class="mx-4">
        <h4 class="text-xs underline  text-gray-300">View Api Guide</h4>
    </div>
    <mat-card class="border-black mat-card2 mt-8">
        <h4 class="text-xs   text-gray-300">API Key</h4>

        <div class="grid mt-8 grid-flow-col grid-cols-2 grid-rows-1 gap-1">
            <div>
                <h4 class="text-xs   text-gray-300">Test Key</h4>
            </div>
            <div>
                <h4 class="text-xs   text-gray-300">Live Key</h4>
            </div>
        </div>


        <div class="grid grid-flow-col grid-cols-2 mt-2 grid-rows-1 gap-1">
            <div>
                <mat-form-field appearance="fill">
                    <input disabled matInput placeholder="gzwetrrfsf123">
                    <div class="ml-24 -mt-6">
                        <button class="text-xs   text-gray-300" mat-raised-button color="primary">Copy</button>
                    </div>
                </mat-form-field>
            </div>

            <div>
                <div>
                    <mat-form-field appearance="fill">
                        <input disabled matInput placeholder="hfgewqe">
                        <div class="ml-20 -mt-6">
                            <button class="text-xs   text-gray-300" mat-raised-button color="primary">Show Key</button>
                        </div>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card>
    <div class="mt-8">
        <mat-form-field appearance="fill">
            <mat-label class="text-xs   text-gray-300">User Id</mat-label>
            <input disabled matInput>
        </mat-form-field>
    </div>
</mat-card>