.otpRow {
  .optLabel {
    text-align: center;
    position: relative;
  }
  .row {
    display: flex;
    justify-content: center;
    position: relative;
  }
}
.verifyOtpButton {
  position: relative;
  top: 2rem;
}
