<div class="container">
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h4 class="termeConditions">TERMS AND CONDITIONS</h4>
      <p class="P1">
        BY ACCESSING OR USING WWW.NOWORRI.COM OR ANY OF ITS RELATED BLOGS,
        WEBSITES, APPLICATIONS OR PLATFORMS (COLLECTIVELY, “THE WEBSITE”), OWNED
        BY NOWORRI FINANCIAL TECHNOLOGY OR ANY OF ITS SERVICES, YOU AGREE THAT
        YOU HAVE READ, UNDERSTOOD AND AGREE TO BE BOUND TO THE TERMS AND
        CONDITIONS CONTAINED HEREIN (“TERMS”), IN CONJUNCTION WITH ANY
        ADDITIONAL NOWORRI TERMS PARTICULARLY APPLICABLE TO YOU AND THE SERVICES
        YOU UTILISE. ALL RIGHTS IN AND TO THE CONTENT OF THE WEBSITE REMAIN AT
        ALL TIMES EXPRESSLY RESERVED BY NOWORRI. <br><br> PLEASE SEE NOWORRI’S DISTINCT
        SECTIONS ON PRIVACY, INTELLECTUAL PROPERTY, AND DISCLAIMERS &
        INDEMNITIES. PLEASE PAY SPECIFIC ATTENTION TO THE BOLD PARAGRAPHS OF THE
        NOWORRI TERMS. THESE PARAGRAPHS LIMIT THE RISK OR LIABILITY OF NOWORRI,
        CONSTITUTES AN ASSUMPTION OF RISK OR LIABILITY BY YOU IMPOSE AN
        OBLIGATION BY YOU TO INDEMNIFY NOWORRI OR IS AN ACKNOWLEDGEMENT OF ANY
        FACT BY YOU.<br><br> PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING OR USING
        THE WEBSITE OR SERVICES. NOWORRI WILL ASSUME YOU HAVE READ AND
        UNDERSTOOD THESE TERMS SHOULD YOU CONTINUE TO ACCESS OR MAKE USE OF THE
        WEBSITE.<br>
        <span class="speci1">
          It is important to note the following:<br />
        </span>
      </p>
      <div class="speci2">
       <p class="speci3">
        1. The terms "user", “you" and “your” are used interchangeably in these
        Terms and refer to all persons accessing the Website or using the
        Services for any reason whatsoever. Accordingly, the terms “us”, “our”
        or “we” refers to Noworri or its possession.<br />
        2. Not all terms are necessarily defined in order. These terms were last
        updated on.<br />
        3.These terms were last updated on. 4.<br />
       </p>
       </div>
      <h4>
        INTRODUCTION TO THE WEBSITE AND SERVICES
      </h4>
      <div class="speci2">
        <p class="speci3">
          1.These Terms explain the conditions applicable to how users must make
          use of the Website and the core provisions applicable to a user’s use of
          any Services derived from Noworri. Depending on the exact Services used,
          a user may also need to conclude additional agreements with Noworri,
          which agreements will contain more specific details relating to the
          exact Service acquired, including exact services and fees to be
          expected.<br />
          2.In return for using some of the Services available, the user may have
          to pay a fee to Noworri or another third party (“Fee”), but the same Fee
          will be detailed to you on the Website before you incur such a Fee, or
          in any further Service-specific agreement you may conclude with Noworri
          or another third party.<br />
          3.In order to use the Services, users must register on the Website using
          the prompted methods and submit any required information to create a
          user profile.<br />
          4.The Website and these Terms are subject to change without notice.
          These Terms are updated or amended from time to time and will be
          effective upon Noworri uploading the amended Terms to the Website. Your
          continued access or use of the Website constitutes your acceptance to be
          bound by the Terms, as amended. It is your responsibility to read these
          Terms periodically to ensure you are aware of any changes.
          <br />
          5.Unauthorized use of the Website may give rise to a claim for damages
          and/or be a criminal offense.<br />
        </p>
      </div>
      
      <h4>USER REGISTRATIONS</h4>
      <div class="speci2">
        <p class="speci3">
          1.In order to make use of the Services, you must complete the necessary
          registration process detailed on the Website and acquire a Profile. Each
          user shall have only one (1) Profile and agrees to provide accurate,
          current and complete information during the registration process and to
          update such information as and when it changes.<br />
          2.Noworri requires you to submit your full name, email address,
          residential address,Username and phone number when registering a
          Profile. Users may then set up additional features of their Profile,
          depending on the exact Services acquired, as prompted by the Website.<br />
          3.To protect your privacy and security, the Website takes reasonable
          steps to verify your identity by requiring a password together with your
          provided email address (or phone number) in order to grant access to
          your Profile and data. To view or change your personal information
          provided, you can log into your account on the website and click edit
          profile via the menu icon. Edit Profile will allow you to change your
          personal information and further verification will be required when
          changing email, phone number, identity document or residential
          address.<br />
          4.By entering your personal information on the Website, you warrant that
          the person using the Website is you and/or you have the legal authority
          to act on behalf of a corporate entity. You are responsible for your
          Profile and all actions perpetrated therewith and thereon, and you
          should not share your login details or password with anyone.<br />
          5.Please see Noworri’s Privacy Policy regarding more details on how
          Noworri uses and processes your personal information.<br />
        </p>
      </div>
      <h4>PAYMENT FOR SERVICES</h4>
     <div class="speci2">
      <p class="speci3">
        1.Noworri Financial Technology will process all transactions using the
        rates displayed on the app. No further charge and/or hidden costs will
        be incurred by the client:<br />
        2.All amounts stated on the Website or in relation to Services shall
        include Value Added Tax (“VAT”), but will be exclusive of any other
        applicable taxes/fees, unless otherwise stated and required by law. If
        any such taxes/fees apply to your use of the Services and the Fee
        charged, same will be indicated to you before you enact any
        transactions.<br />
        3.You may contact Noworri via email at admin@noworri.com to obtain a
        full record of your transactions with Noworri.
      </p>
     </div>
      <h4>USER RESPONSIBILITIES AND WARRANTIES</h4>
      <div class="speci2">
        <p class="speci3">
          4.By using the Website, Mobile application and/or the Services, you
          warrant that:<br />
          a.you have read and agreed to these Terms and will use the Website and
          Services in accordance with them;<br />
          b.you have not made any misrepresentations and the information provided
          in the registration process about you, your company and/or your status
          is true, accurate and complete in every aspect;<br />
          c.you are above the age of 18 (eighteen) years old and have the capacity
          to understand, agree with and be bound with these Terms;<br />
          d.you lawfully possess and submit all information to the Website or
          Noworri for the use of it or the Services;<br />
          e.you will not post, upload, replicate or transmit any abusive content
          on the Website that is or could reasonably be considered to be
          threatening, harassing, defamatory, abusive, racist, sexist,
          discriminatory, in breach of confidence, in breach of privacy or
          restrict any user in any way from properly using the Website;<br />
          f.you will not send any unsolicited electronic messages or use any
          software, routine or device to interfere or attempt to interfere
          electronically or manually with the operation or functionality of the
          Website including but not limited to uploading or making available files
          containing corrupt data or viruses via whatever means or deface, alter
          or interfere with the front end ‘look and feel’ of the Website or the
          underlying software code;<br />
          g.you will not infringe the intellectual property or other rights of any
          third party or the Website or transmit content that the user does not
          own or does not have the right to publish or distribute;<br />
          h.you will not use the Website platform for any commercial purpose other
          than as expressly provided for by Noworri herein;<br />
          i.you will not use the Website to breach any applicable law or
          regulation or perform or encourage any illegal activity including
          (without limitation) promoting or facilitating money laundering or
          financial crimes; and/or<br />
          j.you will not facilitate or assist any third party to do any of the
          above.<br />
          5.The Website is only available on compatible devices connected to the
          internet. It is your responsibility to obtain these devices and any data
          network access necessary to utilize the Website. The network’s data and
          messaging rates and fees may apply if you use the Website and you shall
          be responsible for such rates and fees.<br />
          6.Without prejudice to any of Noworri’ other rights (whether at law or
          otherwise), Noworri reserves the right to deny you access to the Website
          or the Services where Noworri believes (in its reasonable discretion)
          that you are in breach of any of these Terms or the terms contained in
          any Facilitators’ Agreement.<br />
          7.Noworri does not guarantee that the Website, or any portion thereof,
          will function on any particular hardware or device.<br />
        </p>
      </div>
      <h4>KYC AND AML REQUIREMENT</h4>
      <div class="speci2">
        <p class="speci3">
          1.A user’s ability to make use of various parts of the Website or
          particular Services, may be regulated by applicable know-your-customer
          (“KYC”) and/or anti-money laundering (“AML”) laws and the respective
          rules and regulations.<br />
          2.Noworri may, at various times and depending on a range of factors in
          its sole discretion, including the amount of a transaction actioned
          and/or the exact nature of the user, require that a user submit certain
          information to Noworri in order for the user to be verified as not
          infringing any of Noworri’s KYC and/or AML requirements and/or local or
          foreign laws. This information may include identity documents, passport
          documents and/or bank account information. Noworri reserves the right to
          limit or terminate a user’s access and use of the Services should the
          user fail to adhere to these requirements to the standard required by
          Noworri. Noworri also reserves the right to share this information with
          any legal authority when required under applicable laws.<br />
          3.Noworri may restrict user transactions that may violate laws or
          Noworri’s internal KYC or AML conditions herein and as updated from time
          to time.<br />
          4.As a minimum, the following rules are applied: <br />
          1.Noworri Financial Technology has to make a certain verification by the
          documentation required for user to be able to transact.<br />
          2. A user is required to verify an email address, mobile number &
          provide an identity document such as a passport, drivers licence or
          identity document to be able to transact
        </p>
      </div>
      <h4>RECEIPT AND TRANSMISSION OF DATA MESSAGES</h4>
     <div class="speci2">
      <p class="speci3">
        1.Data messages, including email messages, sent by you to Noworri will
        be considered to be received only when acknowledged or responded to.<br />
        2.Data messages sent by Noworri to you will be regarded as received when
        the complete data message enters an information system designated or
        used for that purpose by the recipient and is capable of being retrieved
        and processed by the recipient.<br />
        3.Noworri reserves the right not to respond to any email or other data
        message which contains obscene, threatening, defamatory or otherwise
        illegal, unlawful or inappropriate content, and to take appropriate
        action against the sender of such email or data message where
        necessary.<br />
        4.Messages sent over the internet cannot be guaranteed to be completely
        secure as they can be intercepted, lost or corrupted. Noworri is
        therefore not responsible for the accuracy or<br />
        5.safety of any message sent by email or automated systems over the
        internet, whether from Noworri to a user, between users or from a user
        to Noworri.<br />
      </p>
     </div>
      <h4>HYPERLINKS, DEEP LINKS, FRAMING</h4>
     <div class="speci2">
      <p class="speci3">
        1.The Website may include links to other internet sites ("the other
        sites"). Noworri does not own or endorse the other sites and is not
        responsible for the information, material, products or services
        contained on or accessible through the other sites. Any such hyperlinks
        do not imply any endorsement, agreement on or support of the content or
        products of such target sites.<br />
        2.Noworri does not purport to own the content on other sites which may
        be shown on the Website. Should the owner of any content showcased on
        the Website want the content to be removed, please write to
        admin@noworri.com to request the removal of such content.<br />
        3.The user’s access and use of the other sites remain solely at the
        user’s own risk and on the terms set by the relevant third-party
        operator of the other sites.<br />
      </p>
     </div>
      <h4>
        ADVERTISING AND SPONSORSHIP
      </h4>
     <div class="speci2">
      <p class="speci3">
        1.The Website may contain advertising and sponsorship. Advertisers and
        sponsors are responsible for ensuring that material submitted for
        inclusion in the Website complies with all applicable laws and
        regulations.<br />
        2.Noworri, its members, employees, suppliers, partners, affiliates and
        agents accordingly excludes, to the maximum extent permitted by law, any
        responsibility or liability for any error or inaccuracy appearing in
        advertising or sponsorship material.<br />
      </p>
     </div>
      <h4>
        INTELLECTUAL PROPERTY PROTECTION
      </h4>
      <div class="speci2">
        <p class="speci3">
          1.All website layout, website content, material, information, data,
          software, icons, text, graphics, layouts, images, sound clips,
          advertisements, video clips, user interface design and layout, trade
          names, logos, trade marks, designs, copyright and/or service marks,
          together with the underlying software code and everything submitted by a
          user to the Website and Noworri in use of the Services, (“the
          intellectual property”) are owned (or co-owned or licenced, as the case
          may be) by Noworri, its members, associates and/or partners, whether
          directly or indirectly, and as such, are protected from infringement by
          domestic and international legislation and treaties.<br />
          2.Subject to the rights afforded to you in these Terms, all other rights
          to all intellectual property on the Website are expressly reserved. You
          may not copy, download, print, modify, alter, publish, broadcast,
          distribute, sell or transfer any intellectual property, editorial
          content, graphics or other material on the Website or the underlying
          software code whether in whole or in part, without the written consent
          of Noworri first being granted, which consent may be refused at the
          discretion of Noworri. No modification of any intellectual property or
          editorial content or graphics is permitted. Should you breach these
          provisions, Noworri and/or the rightful intellectual property rights
          owner may launch legal proceedings against you for a breach of contract,
          resulting in a claim of damages against you.<br />
          2.international legislation and treaties. Subject to the rights afforded
          to you in these Terms, all other rights to all intellectual property on
          the Website are expressly reserved. You may not copy, download, print,
          modify, alter, publish, broadcast, distribute, sell or transfer any
          intellectual property, editorial content, graphics or other material on
          the Website or the underlying software code whether in whole or in part,
          without the written consent of Noworri first being granted, which
          consent may be refused at the discretion of Noworri. No modification of
          any intellectual property or editorial content or graphics is permitted.
          Should you breach these provisions, Noworri and/or the rightful
          intellectual property rights owner may launch legal proceedings against
          you for a breach of contract, resulting in a claim of damages against
          you.<br />
          3.Noworri reserves the right to make improvements or changes to the
          intellectual property, information, artwork, graphics and other
          materials on the Website, including that of a user in their Profile, or
          to suspend or terminate the Website, at any time without notice;
          provided that any transactions or functions already concluded through
          the Website, will not be affected by such suspension or termination (as
          the case may be).<br />
          4.Where any of the Website intellectual property has been licensed to
          Noworri or belongs to any third party, other than that which has been
          submitted by a user to the Website in the use of the Services, all
          rights of use will also be subject to any terms and conditions which
          that licensor or third party imposes from time to time and you agree to
          comply with such third party terms and conditions.<br />
          5.Subject to adherence to the Terms, Noworri grants to users a personal,
          non-exclusive, non-assignable and non-transferable license to use and
          display all content and information contained in the Website on any
          machine which the user is the primary user. However, nothing contained
          on the Website or in these Terms should be construed as granting any
          licence or right to use any intellectual property without the prior
          written permission of Noworri.<br />
          6.Any enquiries regarding any of the above relating to intellectual
          property must be directed to Noworri at admin@noworri.com.<br />
        </p>
      </div>
      <h4>DISCLAIMERS AND WARRANTIES</h4>
      <div class="speci2">
        <p class="speci3">
          1.The Website and Services, including any intellectual property
          appearing therein, are provided "as is" and "as available". Noworri
          makes no representations or warranties, express or implied, including
          but not limited to warranties as to the accuracy, correctness or
          suitability of either the Website, the Services or the information
          contained in it.<br />
          2.All information or opinions of users made available on the Website in
          relation to any of the Services are those of the authors and not
          Noworri. While Noworri makes every reasonable effort to present such
          information accurately and reliably on the Website, Noworri does not
          endorse, approve or certify such information, nor guarantee the accuracy
          or completeness of such information on the Website.<br />
          3.Noworri, its members, employees, and partners, accept no liability
          whatsoever for any loss, whether direct or indirect, consequential or
          arising from information made available on (or by means of) the Website
          and/or transactions or actions resulting therefrom or from the Services
          offered, including the information about any particular user.<br />
          4.Noworri, its members, employees, partners and affiliates, accept no
          liability whatsoever for any costs, expenses, fines or damages,
          including but not limited to direct or indirect loss or damages,
          including any economic loss, consequential loss, loss of profits or any
          form of punitive damages, resulting from the facilitation and offering
          of the Services, and access to, or use of, the Website in any manner.<br />
          5.Noworri takes reasonable security measures to ensure the safety and
          integrity of the Website and to exclude viruses, unlawful monitoring
          and/or access from the Website. However, Noworri does not warrant or
          represent that your access to the Website will be uninterrupted or
          error-free or that any information, data, content, software or other
          material accessible through the Website will be free of bugs, viruses,
          worms, trojan horses or other harmful components. The user’s access to
          and use of the Website remains solely at the user’s own risk and the
          user should take their own precautions accordingly. <br />
        </p>
      </div>
      <h4>COMPANY INFORMATION</h4>
     <div class="speci2">
      <p class="speci3">
        1.Site owner: Noworri Financial Technology LLC<br />
        2.Legal status: Private Company<br />
        3.Email address: admin@noworri.com<br />
        4.Website address: www.noworri.com<br />
        5.Physical Address: Impact Hub Accra, Accra, Ghana<br />
        6.Digital address: GL -016-6314<br />
      </p>
     </div>
      <h4>TERMINATION OF USE OF WEBSITE OR SERVICE</h4>
     <div class="speci2">
      <p class="speci3">
        1.IN ADDITION TO ITS OTHER RIGHTS HEREIN, NOWORRI RESERVES THE RIGHT TO
        TERMINATE AND CANCEL YOUR PROFILE AND USE OF THE WEBSITE AND/OR SERVICES
        IF YOU BREACH ANY OF THE TERMS, OR FOR ANY OTHER REASON IN ITS SOLE
        DISCRETION PROVIDED THAT NOWORRI GIVES REASONABLE NOTICE TO YOU.<br />
        2.If you wish to terminate the agreement with Noworri, or end your use
        of the Services, you may do so by deregistering your Profile with the
        Website and discontinuing your use of the Website. Such deregistration
        from the Website will however not have any effect on the continued and
        comprehensive functioning or legitimacy of any lawful rights which
        Noworri has with you at the time of said termination with the
        Website.<br />
        3.In the event of cancellation of your agreement with the Terms and with
        Noworri, Noworri will remove you from the Website, delete your Profile
        and contact an administrator by emailing admin@noworri.com to reverse
        any funds in your wallet.<br />
      </p>
     </div>
      <h4>GENERAL</h4>
      <div class="speci2">
        <p class="speci3">
          1.This document contains the entire agreement between the parties in
          relation to the subject matter hereof. Save as contemplated in clause
          1.5 above, no alteration, cancellation, the variation of, or addition
          hereto will be of any force or effect unless reduced to writing and
          signed by all the parties to these Terms or their duly authorized
          representatives.<br />
          2.No indulgence, leniency or extension of time granted by Noworri shall
          constitute a waiver of any of Noworri’ rights under these Terms and,
          accordingly, Noworri shall not be precluded as a consequence of having
          granted such indulgence, from exercising any rights against the user
          which may have arisen in the past or which might arise in the future.<br />
          3.Words importing the singular will include the plural and vice versa.
          Words importing one gender will include the other genders, and words
          importing persons will include partnerships, trusts and bodies
          corporate, and vice versa.<br />
          4.The headings to the paragraphs in the Terms are inserted for reference
          purposes only and will not affect the interpretation of any of the
          provisions to which they relate.<br />
          5.The user’s access and/or use of the Website and/or the Services, any
          downloaded material from it and the operation of these Terms (including
          any transaction concluded pursuant thereto) shall be governed by and
          construed in accordance with the laws of the Republic of<br />
          6.Should you have any complaints or queries, kindly address an email to
          Noworri at of same.<br />
          7.In the event of the user failing to pay any amount timeously or
          breaching these Terms, the user shall be liable for all legal costs (on
          the scale as between attorney and client) (including collection
          commission) which may be incurred by Noworri in relation to the payment
          failure or breach.<br />
          8.Each sentence, paragraph, term, clause and provision of these Terms
          and any portion thereof shall be considered severable and if, for any
          reason, any such sentence, paragraph, term, clause or provision is held
          to be invalid, contrary to, or in conflict with any applicable present
          or future law or regulation or in terms of a final, binding judgment
          issued by any court, it shall to that extent be deemed not to form part
          hereof and shall not impair the operation of, or have any effect upon
          such other sentence, paragraph, term, clause or provision hereof as may
          otherwise remain valid or intelligible, which shall continue to be given
          full force and effect and bind the parties hereto.<br />
          9.No term or condition of these Terms is intended to breach any
          peremptory provisions of any consumer protection legislation and any
          regulations thereto ("Prohibited Provision"). Any breach of any such
          Prohibited Provision shall be governed by the provisions of clause
          19.8.<br />
        </p>
      </div>
      <h4></h4>
      <p></p>
      <h4></h4>
      <p></p>
      <h4></h4>
      <p></p>
      <h4></h4>
      <p></p>
    </div>
  </div>
</div>
