<div class="page-body">
  <h4 class="activeTransaction">
    <mat-icon style="font-size: 20px;top: 30px;">all_inclusive</mat-icon>
    <span> Active transactions</span>
  </h4>
  <div class="row">
    <div class="col-sm-12">
      <app-card class="app-card2">
        <p class="Review">
          * Review the transaction below and select the type that fits what you
          are buying or selling.
        </p>
        <p class="Review">
          * With Noworri you can buy and sell anything safely without the risk
          of being defrauded. Truly secure payments.
        </p>
        <br />
        <br />
        <div class="row">
          <div class="col-sm-4">
            <form (ngSubmit)="OnSubmit(f)" #f="ngForm">
              <div class="TypeOf">
                <div class="form-group">
                  <p><b class="TexteSelect">Type of transaction</b></p>
                  <select
                    class="custom-select"
                    id="TypeOfTransation"
                    name="TypeOfTransation"
                    ngModel
                    [ngClass]="TypeOfTransationInputControl"
                  >
                    <option value="" selected disabled hidden>
                      Choose a type
                    </option>
                    <!-- <option selected="selected" value="Services">Services</option> -->
                    <option selected="selected" value="Merchandise">
                      Merchandise
                    </option>
                  </select>
                </div>
              </div>
              <br />
              <div class="YourRole">
                <div class="form-group">
                  <p><b class="TexteSelect">Your role</b></p>
                  <select
                    class="custom-select"
                    id="role"
                    name="role"
                    ngModel
                    [ngClass]="YourRoleInputControl"
                  >
                    <option value="" selected disabled hidden>
                      Choose a role
                    </option>
                    <option value="buy">Buyer</option>
                    <option value="sell">Seller</option>
                  </select>
                </div>
              </div>
              <div class="row" id="StartNoworri">
                <button mat-raised-button>Start Noworri</button>
              </div>
            </form>
          </div>
          <div class="col-sm-5">
            <div
              class="alert alert-default background-default"
              id="GeneraleMerchandise"
            >
              General Merchandise: Use this type of transaction for most
              tangible goods such as goods, apparel and accessories, furniture
              and home furnishings, small wares, hardware, and foods etc
            </div>
            <div class="alert alert-default background-default" id="Service">
              Services : use services as a type of transaction for intangible
              things such as : logo, freelance , document translation, etc
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
