<div class="container">
  <form
    (ngSubmit)="onCompleteStep1(recap, form, sellersForms, deliveryForms)"
    #form="ngForm"
  >
    <div class="row">
      <div class="col-sm" id="col-sm">
        <div class="card">
          <div class="ServiceStep1">
            <mat-icon class="cancel" routerLink="/home">cancel</mat-icon>
            <h6 class="Merchandise">Merchandise: Transaction Creation</h6>
            <hr />
            <div class="card-body">
              <div id="Please">
                <h5 class="Please">
                  Please provide details for the transaction
                </h5>
              </div>
              <div id="Form1">
                <div class="form-group">
                  <label id="PrincipaleTitle" for="exampleInputEmail1"
                    >What are you selling ?</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="item"
                    name="item"
                    ngModel
                    aria-describedby="emailHelp"
                    (click)="AfficheSide1()"
                    [ngClass]="itemControl"
                  />
                </div>
              </div>
              <div id="Form2">
                <label id="PrincipaleTitle" for="price"
                  >What's the price ?</label
                >
                <label
                  style="margin-left: 303px; font-weight: 600"
                  for="exampleInputEmail1"
                  >CURRENCY</label
                >
                <div class="row">
                  <div class="col">
                    <input
                      type="text"
                      style="width: 420px"
                      class="form-control"
                      id="price"
                      name="price"
                      ngModel
                      (click)="AfficheSide2()"
                      [ngClass]="priceControl"
                    />
                  </div>
                  <div class="col">
                    <div class="input-group-text">
                      <img src="assets/images/devise.png" />
                      <h1 class="GHC">{{ currency }}</h1>
                    </div>
                  </div>
                  <!-----<p class="NoworriFee">Noworri Charges :</p>-->
                  <!---- <span class="fee">1.95% of the price</span>--->

                  <!--------------
                    <p class="NoworriFee">Noworri Fees  :</p>
                  <span class="fee">1.98% of the price</span>
                  -->
                
                </div>

                <div id="PetitInput1">
                  <label class="Sellersphone">Buyer's phone number</label>
                  <div>
                    <form #sellersForms="ngForm">
                      <intl-tel-input
                        *ngIf="waitingDisplayInput"
                        (click)="AfficheSide3()"
                        [name]="'sellerPhoneNumber'"
                        [options]="countryData"
                        [cssClass]="'form-control'"
                        [onlyLocalized]="true"
                        [(E164PhoneNumber)]="E164PhoneNumber"
                      >
                      </intl-tel-input>
                    </form>
                  </div>
                </div>
                <div id="PetitInput2">
                  <label>Delivery phone number</label>
                  
                  <div class="inp">
                    <div>
                      <form #deliveryForms="ngForm">
                        <intl-tel-input
                          *ngIf="waitingDisplayInput"
                          (click)="AfficheSide4()"
                          [name]="'deliveryPhoneNumber'"
                          [options]="countryData"
                          [cssClass]="'form-control'"
                          [onlyLocalized]="true"
                          [(E164PhoneNumber)]="E164PhoneNumber"
                        >
                        </intl-tel-input>
                      </form>
                    </div>
                  </div>
                </div>

                <div id="PetitInput3">
                  <label for="exampleInputEmail1">Descriptions</label>
                  <textarea
                    class="form-control"
                    id="description"
                    name="description"
                    rows="3"
                    (click)="AfficheSide5()"
                    ngModel
                    [ngClass]="descriptionControl"
                  ></textarea>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                      <div *ngIf="isValidating" class="Loading">
                        <button *ngIf="isValidating" mat-raised-button>
                          <span
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                          ></span>
                          processing...
                        </button>
                      </div>
                      <button
                        type="submit"
                        *ngIf="!isValidating"
                        mat-raised-button
                      >
                        Continue
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="container" id="CARDS">
          <div class="col" id="CardFix">
            <div class="card w-100">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      After you create the transaction Noworri will send a 5
                      digits code by SMS to the deliveryman and yourself which
                      must be given to the buyer to confirm the reception of the
                      goods and money will be released automatically to your
                      account.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card1" *ngIf="BoolAffichage1">
            <div class="card w-100">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      Tell us what items or products you're about to purchase
                      from the seller. It could be a shoe, a dress , electronic,
                      etc..
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card2">
            <div class="card w-100" *ngIf="BoolAffichage2">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      Put the price of the items or products, make sure both you
                      and buyer agree to the price
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card3">
            <div class="card w-100" *ngIf="BoolAffichage3">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      Enter the Phone number of the buyer. Make sure he has a
                      Noworri's Account otherwise invite him
                      <a style="color: blue" href="">HERE</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card4">
            <div class="card w-100" *ngIf="BoolAffichage4">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>
                      Put the phone number of the deliveryman who is supposing
                      to ship the product to the buyer. You can put your own
                      phone number if you bring to the buyer the product    
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id="card5">
            <div class="card w-100" *ngIf="BoolAffichage5">
              <div class="card-body">
                <div class="row">
                  <div class="col-2 local_offer">
                    <mat-icon class="local"> local_offer</mat-icon>
                  </div>
                  <div class="col">
                    <p>Do you have anything to say? Write it down  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-----------------------Recap template------------------------------------>
  <ng-template #recap>
    <div class="container" id="recapTemplate">
      <div class="row">
        <div class="col-sm-5">
          <div class="img">
            <img
              src="assets\merchandise escrow modal log.png"
              class="card-img-top"
              alt="..."
            />
          </div>
        </div>
        <div class="col-sm-7 rightSide">
          <mat-icon class="cancel" (click)="modalRef.hide()">cancel</mat-icon>
          <div class="text">
            <h6 class="title">Items or service</h6>
            <h6 class="variable">{{ escrowStep1Data.item }}</h6>
            <h6 class="title">You're dealing with</h6>
            <h6 class="variable">{{ escrowStep1Data.sellerPhoneNumber }}</h6>
            <h6 class="title">Product will be delivered by</h6>
            <h6 class="variable">{{ escrowStep1Data.deliveryPhoneNumber }}</h6>
          </div>
          <div class="button text-center">
            <button
              type="button"
              (click)="onConfirmTransaction()"
              class="btn btn-primary btn-sm"
            >
              confirm {{ totalAmount }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
