<div *ngIf="dataLoaded" class="row">
  <div class="col-8">
    <div class="container">
      <div class="row">
        <div class="col-sm" id="col-sm">
          <div class="card" style="width: 50rem">
            <div class="ServiceStep2">
              <div class="row" style="margin-bottom: -30px; margin-top: 30px">
                <div class="col">
                  <h6>Transaction ID : {{transactionKey}}</h6>
                </div>
                <div class="col link">
                  <button type="button" class="btn btn-sm btn-light">
                    Cancel
                  </button>
                </div>
              </div>
              <div class="container">
                <table class="table">
                  <div class="container">
                    <h3 class="howTo">Buyer's Funds locked</h3>
                    <p style="margin-left: -20px">
                      We have sent 5 digits code by SMS to the carrier (numero
                      du delivery ) and yourself (numero du vendeur) which must
                      be<br />
                      given to the buyer to confirm the reception of the goods
                      and money will be released automatically to your account.
                    </p>
                  </div>
                </table>
              </div>
            </div>
            <div class="card-body">
              <div class="Billing">
                <h5 class="BILLINGINFORMATION">{{transactionDetails.initiator_first_name}}'s orders</h5>
              </div>

              <div class="row head">
                <div class="col-2"><h6>Item ID</h6></div>
                <div class="col-4"><h6>Product name</h6></div>
                <div class="col-2"><h6>Quanity</h6></div>
                <div class="col-2"><h6>Price</h6></div>
                <!-- <div class="col-2"><h6>Amount on hold</h6></div> -->
              </div>
              <div *ngFor="let details of orderData" class="row data1">
                <div class="col-2">{{ details.id }}</div>
                <div class="col-4">{{ details.item }}</div>
                <div class="col-2">{{ details.qty }}</div>
                <div class="col-2">{{ details.price }}</div>
                <!-- <div class="col-2">300.00 GHC</div> -->
              </div>
              <hr />
              <div class="row">
                <div class="col-4">Total Locked</div>
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-2">{{ totalAmount }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
  </div>
  <div class="col-4" id="rightSide">
    <div class="row">
      <div class="card" style="width: 15rem">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <img
                src="../../../../assets/homebg.jpg"
                class="card-img-top"
                alt="..."
              />
            </div>
            <div class="col-8 topCardContent">
              <h6 class="ju">{{transactionDetails.initiator_first_name}} {{transactionDetails.initiator_name}}</h6>
              <div style="margin-top: 25px; margin-left: -40px">
                <h6 class="speci">
                  <span><mat-icon class="icon"> call</mat-icon></span>
                  {{transactionDetails.initiator_phone}}
                </h6>
                <h6 class="speci">
                  <span
                    ><mat-icon class="icon" style="margin-top: 10px"
                      >room</mat-icon
                    ></span
                  >
                  {{transactionDetails.initiator_country_code}}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card" style="width: 15rem">
        <div class="card-body bottomCardContent">
          <h6>Shipment/Deliveryman</h6>
          <p>
            {{transactionDetails.delivery_phone}} is going to deliver the items to the customers you can
            change the delivery phone number any time.
          </p>
          <button type="button" (click)="onUpdateDeliveryPhone()" class="btn btn-primary">
            Change delivery's phone number
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isUpdatingDelivery" class="row">
      <div class="card" style="width: 15rem">
        <div class="card-body bottomCardContent">
          <form (submit)="updateDeliveryPhone(deliveryForm)" #deliveryForm="ngForm">
            <div class="row">
              <input type="text" name="newDelivery" ngModel/>
            </div>
            <button type="button" class="btn btn-primary">
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
