<div
  class="w-full h-full bg-pattern"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <!-- <div class="fill-current text-center">
                <img class="w-16" src="assets/img/demo/logo.svg">
            </div> -->
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Register for an account</h2>
      <h4 class="body-2 text-secondary m-0">STEP 2</h4>
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>First name</mat-label>
          <input formControlName="firstName" matInput required />
          <mat-error>
            <span *ngFor="let error of form.get('firstName').errors | keyvalue">
              {{ validationMessages.firstName[error.key] }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Last name</mat-label>
          <input formControlName="lastName" matInput required />
          <mat-error>
            <span *ngFor="let error of form.get('lastName').errors | keyvalue">
              {{ validationMessages.lastName[error.key] }}
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Email</mat-label>
          <input formControlName="email" type="email" matInput required />
          <mat-error>
            <span *ngFor="let error of form.get('email').errors | keyvalue">
              {{ validationMessages.email[error.key] }}
            </span>
          </mat-error>
        </mat-form-field>
        <!-- <mat-form-field fxFlex="grow">
          <mat-label>User Name</mat-label>
          <input formControlName="userName" matInput required />
          <mat-error>
            <span *ngFor="let error of form.get('userName').errors | keyvalue">
              {{ validationMessages.userName[error.key] }}
            </span>
          </mat-error>
        </mat-form-field> -->
        <!-- <mat-form-field fxFlex="grow">
          <mat-label>Country</mat-label>
          <mat-select [formControlName]="'country'">
            <mat-option
              *ngFor="let country of countriesList"
              [value]="country.name"
            >
              {{ country.name }}
            </mat-option>
          </mat-select>
          <mat-error>
            <span *ngFor="let error of form.get('country').errors | keyvalue">
              {{ validationMessages.country[error.key] }}
            </span>
          </mat-error>
        </mat-form-field> -->
        <!-- <mat-form-field fxFlex="grow">
          <mat-label>Country</mat-label>
          <input formControlName="country" matInput required />
          <mat-error>
            <span *ngFor="let error of form.get('country').errors | keyvalue">
              {{ validationMessages.country[error.key] }}
            </span>
          </mat-error>
        </mat-form-field> -->
      </div>
      <button
        (click)="sendUserData()"
        color="primary"
        mat-raised-button
        type="button"
        [disabled]="form.invalid"
      >
        CONTINUE
      </button>
      <p class="text-secondary text-center">
        I want to cancel <br />
        <a routerLink="" href="">cancel</a>
      </p>
    </div>
  </div>
</div>
