<div class="card">
  <div class="card-body">
    <div>
      <mat-icon class="cancel" routerLink="/home">cancel</mat-icon>
    </div>

    <div class="container">
      <div class="row titre">
        <h6>Your full name</h6>
      </div>
      <div class="row" id="backgr">
        <h6>Emmanuel Loic</h6>
      </div>
      <div class="row titre">
        <h6>Business Name</h6>
      </div>
      <div class="row" id="backgr">
        <h6>Bobo Cafe</h6>
      </div>
      <div class="row titre">
        <h6>Business logo</h6>
      </div>
      <div class="row" id="backgr">
        <h6>jjijjk.png</h6>
      </div>
      <div class="row titre">
        <h6>Business Field</h6>
      </div>
      <div class="row" id="backgr">
        <h6>Electronic</h6>
      </div>
      <div class="row titre">
        <h6>What products or services are you providing ?</h6>
      </div>
      <div class="row  product">
        <div>
          <button type="button" class="btn btn-secondary btn-sm" disabled>Foods</button>
        </div>
        <div>
          <button type="button" class="btn btn-secondary btn-sm" disabled>Foods</button>
        </div>
        <div>
          <button type="button" class="btn btn-secondary btn-sm" disabled>Foods</button>
        </div>

      </div>

      <div class="row titre">
        <h6>Your address location</h6>
      </div>
      <div class="row" id="backgr">
        <div class="col" id="speci3">
          <h6>Achimota sreet 45</h6>
        </div>
      </div>
      <div class="row titre">
        <h6>Business phone number</h6>
      </div>
      <div class="row" id="backgr">
        <h6>+2332798121859</h6>
      </div>
      <div class="row titre">
        <h6>Additional phone numbers</h6>
      </div>
      <div class="row" id="backgr">
        <div class="row" id="Number">
          <h6>+2332798121859</h6>
          <h6>+2332798121859</h6>
          <h6>+2332798121859</h6>
        </div>
      </div>
      <div class="row titre">
        <h6>Facebook link</h6>
      </div>
      <div class="row" id="backgr">
        <h6>https://www.facebook.com/Noworripayment/?__m_async_page__=1&_rdc=1&_rdr</h6>
      </div>
      <div class="row titre">
        <h6>Instagram link</h6>
      </div>
      <div class="row" id="backgr">
        <h6>https://www.facebook.com/Noworripayment/?__m_async_page__=1&_rdc=1&_rdr</h6>
      </div>
      <div class="row titre">
        <h6>WhatsApp phone number</h6>
      </div>
      <div class="row" id="backgr">
        <h6>+2332798121859</h6>
      </div>
      <div class="Button text-center">
        <button type="button " class="btn btn-primary btn-sm">Get Trusted</button>
      </div>
    </div>
  </div>
</div>