<div class="container" id="Container">
  <div class="row">
    <div class="col-sm">
      <div class="row" id="Card2">
        <div
          id="collapseBasic"
          [collapse]="isCollapsed1"
          [isAnimated]="true"
          [collapse]="isCollapsed"
          (collapses)="collapses()"
          (expands)="expands()"
          (collapsed)="collapsed()"
          (expanded)="expanded()"
        >
          <div class="card" id="" style="width: 50rem;">
            <hr class="hr" />
            <div class="card-body" id="card-body2">
              <div class="container">
                <div class="row" id="CardOne">
                  <div class="col-sm col1">
                    <h6 class="Yourdealing">
                      You're dealing with :
                      <span class="Number">+23333256895</span>
                    </h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Item">Items</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline"></h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Amoun">Amount</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Handbag">Handbag</h6>
                  </div>

                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline"></h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Revisions">550.00</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Noworrifee">Noworri Fees</h6>
                  </div>

                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="Deadline"></h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="fee">15.14</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Noworrifee"></h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Amount"></h6>
                  </div>
                  <div class="col-sm col3">
                    <h6 class="col-sm Netpayable">NET PAYABLE</h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="total">560.14</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="Deliveryman">Deliveryman's phone</h6>
                  </div>
                  <div class="col-sm col2">
                    <h6 class="Number2">+23327895623</h6>
                  </div>
                  <div class="col-sm col4">
                    <h6 class="Changedeliveryman">Change the phone</h6>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm col1">
                    <h6 class="text1">
                      Release the funds when you get your product delivered
                    </h6>
                  </div>
                  <div class="col-sm col4">
                    <button type="button" class="btn btn-sm btn-light">
                      Release Funds
                    </button>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <h5 class="descriptions">Descriptions</h5>
                  <p class="text">
                    Define a dead time of the transaction so in case anything
                    was not done after the end of the transaction Noworri will
                    cancel it Define a dead time of the transaction so in case
                    anything was not done after the f the transaction so in case
                    anything was not done after the end of the transaction
                    Noworri will cancel it
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm" id="Card18">
      <div class="container">
        <div class="card">
          <hr class="h" />
          <div class="card-body">
            <div class="container">
              <div class="row">
                <mat-icon class="Icon">report</mat-icon>
                <h6 class="WantTo">Want to cancel this order ?</h6>
              </div>
              <div class="row">
                <a class="nav-link" href="#">Click Here</a>
              </div>
              <div class="row">
                <mat-icon class="Icon">report</mat-icon>
                <h6 class="Somethingunclair">Something unclair ?</h6>
              </div>
              <div class="row">
                <a class="nav-link" href="#">Check out our FAQs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
