<div *ngIf="isVendorTransaction" class="container">
  <div class="row">
    <div class="col-sm" id="col-sm">
      <div class="card">
        <div class="ServiceStep2">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h6 class="transation">Transation ID:{{ transactionKey }}</h6>
              </div>
              <div *ngIf="!isFundsReleased" class="col-sm-2">
                <a class="nav-link cancel" href="#">Cancel</a>
              </div>
              <div *ngIf="!isFundsReleased" class="col-sm">
                <a class="nav-link changer" href="" (click)="onUpdateDeliveryPhone()">Change the Deliveryman</a>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <!-- <table *ngIf="isFundsReleased" class="table">
                  <h4
                    style="
                      color: #497dd5;
                      margin: 8px;
                      font-size: medium;

                      margin-top: 15px;
                      margin-right: 20px;
                    "
                  >
                    Buyer's Funds locked?
                  </h4>
                  <p style="margin-left: 10px">
                    We have sent 5 digits code by SMS to the carrier
                    {{ deliveryPhone }} and yourself {{ sellerPhone }} which
                    must be given to the buyer to confirm the reception of the
                    goods and money will be released automatically to your
                    account.
                  </p>
                </table> -->
                <table *ngIf="!isFundsReleased && isFundsLocked" class="table">
                  <h5 style="color: #497dd5; margin: 8px">
                    Buyer's Funds locked
                  </h5>
                  <p style="margin-left: 10px">
                    We have sent 5 digits code by SMS to the carrier {{deliveryPhone}} and yourself {{sellerPhone}} 
                    which must be given to the buyer to confirm the reception of 
                    the goods and money will be released automatically to your account
                  </p>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="TransactionResume"></div>
          <div class="Billing">
            <h5 class="BILLINGINFORMATION">Billing information</h5>
            <div class="row" id="Calcule1">
              <div class="col-sm">
                <h6 class="Shoesandsock">{{ item }}</h6>
              </div>
              <div class="col-sm">
                <h6 class="Tolale1">{{ amount }}</h6>
              </div>
            </div>
            <div class="row" id="Calcule2">
              <div class="col-sm">
                <h6>
                  <div class="row">
                    <div class="col-sm">
                      <h6 class="NoworriFees">Noworri Charges</h6>
                    </div>
                    <div class="col-sm">
                      <h6 class="Tolale2">{{ noworriFee }}</h6>
                    </div>
                  </div>
                </h6>
              </div>
            </div>
            <hr
              style="
                width: 600px;
                border-color: 1px solid black;
                border-width: 1.9px;
                opacity: 1;
              "
            />
          </div>
          <div class="MoreInformation">
            <h5 class="MOREINFORMATIONS">More informations</h5>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Buyersusername">Buyer</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcule3">{{ sellerPhone }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Sellersusername">Seller</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcul3">{{ sellerPhone }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Sellersusername">Deliveryman</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcul3">{{ deliveryPhone }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Sellersusername" style="color: black">
                  Description
                </h6>
              </div>
            </div>
          </div>
          <div id="Requirement">
            <div id="Paragraphe">
              {{ description }}
            </div>
          </div>
          <div *ngIf="isFundsReleased && !hasWithdrawn" class="text-center">
            <button
              type="submit"
              *ngIf="!isValidating"
              (click)="onWithdraw(accountDetails)"
              mat-raised-button
            >
              Withdraw:{{ amount }} GHC
            </button>
          </div>
          <div class="row">
            <div class="col-sm"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
<app-transaction-detail *ngIf="!isVendorTransaction" [transactionKey]="transactionKey"></app-transaction-detail>
<ng-template class="card-body" #accountDetails>
  <app-payments [paymentData]="paymentData"></app-payments>
</ng-template>


