<div class="container">
  <div class="row">
    <div class="col-sm" id="col-sm">
      <div class="card">
        <div class="ServiceStep2">
          <mat-icon class="cancel" routerLink="">cancel</mat-icon>
          <div class="row" style="margin-bottom: -50px">
            <div class="col">
              <h6>Transaction ID:{{transactionId}}</h6>
            </div>
            <div class="col">
              <h6 style="cursor: pointer;text-decoration: underline;">Cancel</h6>
            </div>
            <div class="col link">
              <a class="nav-link" href="#">Changer the deliveryman</a>
            </div>
          </div>
          <div class="card" style="width: 35rem">
            <div class="card-body">
              <p>
                We have sent 5 digit code by SMS to the carrier() and yourself ({{ deliveryPhone}}) which must be given to the buyer to confirm 
                the reception of the goods and  money will be release automatically to your account.
              </p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="TransactionResume"></div>
          <div class="Billing">
            <h5 class="BILLINGINFORMATION">Billing information </h5>
            <div class="row" id="Calcule1">
              <div class="col-sm">
                <h6 class="Shoesandsock">{{ item }}</h6>
              </div>
              <div class="col-sm">
                <h6 class="Tolale1">{{ amount }}</h6>
              </div>
            </div>
            <div class="row" id="Calcule2">
              <div class="col-sm">
                <h6>
                  <div class="row">
                    <div class="col-sm">
                      <h6 class="NoworriFees">Noworri Charges</h6>
                    </div>
                    <div class="col-sm">
                      <h6 class="Tolale2">{{ noworriFee }}</h6>
                    </div>
                  </div>
                </h6>
              </div>
            </div>
            <hr
              style="
                width: 600px;
                border-color: 1px solid black;
                border-width: 1.9px;
                opacity: 1;
              "
            />
          </div>
          <div class="MoreInformation">
            <h5 class="MOREINFORMATIONS">More informations</h5>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Buyersusername">Buyer</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcule3">{{ amount }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Sellersusername">Seller</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcul3">{{ noworriFee }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Sellersusername">Deliveryman</h6>
              </div>
              <div class="col-sm">
                <h6 class="Calcul3">{{ noworriFee }}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h6 class="Sellersusername" style="color: black">
                  Description
                </h6>
              </div>
            </div>
          </div>
          <div id="Requirement">
            <div id="Paragraphe"></div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary">Withdraw</button>
          </div>
        
          <div class="row">
            <div class="col-sm"></div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
