<div class="grid grid-flow-col ml-4 my-12  grid-cols-4   gap-x-4 grid-rows-1 ">
    <div class="col-span-3">
        <div class="py-4 pb-10 h-30 w-11/12 shadow-lg  ">
            <div class="grid grid-flow-col gap-x-12 ml-4 my-4  grid-cols-4   grid-rows-1 ">
                <div class="col-span-3 ">
                    <h4 class="text-xs mx-2 text-gray-300  ">Transations ID:</h4>
                </div>
                <div class="w-12/12 items-right  ">
                    <button class=" shadow-lg  text-xs    py-2 px-4 ">
                        Cancel
                    </button>
                </div>
            </div>
            <div>
                <div class="container  my-4">
                    <div class="w-100 border">
                        <div class="p-2">
                            <h4 class="buyersFunds  text-base   text-gray-300 items-left">Buyer's Funds locked</h4>
                            <p class="text-xs text-gray-300 items-left">
                                We have sent 5 digits codes by SMS to the carrier(numero du delivery) and your self
                                (numero du vendeur )
                                which must be given to the buyer to confirm the reception of goods and money will be
                                released automatically to
                                your account
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <h4 class="text-xs mx-6 text-gray-300 underline ">Julliete's orders</h4>
            <div class="  grid grid-flow-col grid-cols-5 mx-6 my-6 grid-rows-3 gap-4">
                <div class="text-xs text-gray-300 ">Item ID</div>
                <div class="text-xs text-gray-300 ">45665435</div>
                <div>4566543</div>
                <div class="text-xs text-gray-300 ">Product name</div>
                <div>Product</div>
                <div>product</div>
                <div class="text-xs text-gray-300 ">Quantity</div>
                <div>10</div>
                <div>2</div>
                <div>Price </div>
                <div>150</div>
                <div>110</div>
                <div class="text-xs text-gray-300 ">Amount on hold</div>
                <div>300</div>
                <div>5000</div>
            </div>
        </div>
    </div>
    <div class="  grid grid-flow-col grid-cols-1 mx-4  grid-rows-2 gap-4">
        <div class="shadow-lg  w-12/12 h-20 pb-48">
            <div class="grid grid-flow-col grid-cols-1 grid-rows-3 gap-2">
                <div class="flex flex-row my-6 mx-2">
                    <div>
                        <img alt="Placeholder" class="block w-10 h-10 rounded-full "
                            src="https://picsum.photos/200/300">
                    </div>
                    <div class="mx-2 my-1">
                        <h4 class="text-xs   text-gray-300">Juliettte French</h4>
                    </div>
                </div>
                <div class="flex flex-row -my-8 mx-6">
                    <div>
                        <mat-icon [icIcon]="icPhone"></mat-icon>
                    </div>
                    <div class="mx-2">
                        <h4 class="text-xs   text-gray-300">0279414289</h4>
                    </div>
                </div>
                <div class="flex flex-row -my-20 mx-6">
                    <div>
                        <mat-icon [icIcon]="icMap"></mat-icon>
                    </div>
                    <div class="mx-2">
                        <h4 class="text-xs   text-gray-300">Impact hub,acra,acra</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-lg  w-12/12 h-200">
            <div class="mx-2 my-1">
                <h4 class="text-xs text-left mx-6 text-gray-300 underline ">shipment/Deliveryman</h4>
            </div>
            <p class="text-xs text-gray-300 text-center ml-2 mr-2">
                0279414885443 is going to deliver the items to the custumers.You can change change the delivery phone
                number
                any time
            </p>

        </div>
    </div>
</div>