<vex-page-layout>
  <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
    <div class="flex flex-col justify-between w-full sm:flex-row">
      <div>
        <h1 class="mt-0 mb-1 title">Transactions Details</h1>
        <vex-breadcrumbs [crumbs]="['Dashboard', 'Transactions', 'Transaction-details']"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content [class.container]="true" [class.px-gutter]="true" class="-mt-16">
    <div class="grid grid-flow-col grid-rows-2 global">
      <div class="col-span span1">
        <div class="container">
          <div class="bg-white border dark:bg-gray-800">
            <div class="p-4">
              <p class="text-xs font-thin dark:text-white">
                <span>
                  <ic-icon class="icInfo" [icIcon]="icInfo" size="20px"></ic-icon>
                </span>
                This transaction can only be cancelled by you
              </p>
              <p class="text-xs font-thin">
                <span>
                  <ic-icon class="icInfo" [icIcon]="icInfo" size="20px"></ic-icon>
                </span>
                Customer must acknowledge receipt of goods with the delivery
                code this will release the money to your account
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row-span-2 col-span " id="col-span-2">
        <div class="container ">
          <div class="bg-white border">
            <div class="">
              <table mat-table [dataSource]="dataSource" class="w-full px-4 mt-4" matSort>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Item ID</th>
                  <td mat-cell *matCellDef="let item">
                    {{ item?.item_id }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="name" >
                  <th mat-header-cell *matHeaderCellDef>Item name</th>
                  <td mat-cell *matCellDef="let item" >
                    {{ item?.name }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let item" >
                  <!-- {{ item?.description }} -->
                  </td>
                </ng-container>
                <ng-container matColumnDef="qty">
                  <th mat-header-cell *matHeaderCellDef>Quantity</th>
                  <td mat-cell *matCellDef="let item">{{ item?.items_qty }}</td>
                </ng-container>
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef>Total</th>
                  <td mat-cell *matCellDef="let item">
                    {{ item?.price }}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data Data Found!</td>
                </tr>
              </table>
              <hr>
              <div class="grid grid-cols-5 grid-rows-2 gap-4 grid-flow-col-5 total">
                <div class="amount">
                  <h5>{{ isFundsReleased === true ? 'AMOUNT TO WITHDRAW' : 'AMOUNT IN ESCROW'}}</h5>
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div class="somme">
                  <h5>{{ isFundsReleased === true ? totalAmount : subTotal }} {{ transactionDetails?.currency }}</h5>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row-span-3 ...">
        <div class="container">
          <div class="bg-white border card1">
            <div class="p-4">
              <div class="grid grid-cols-3 gap-4 row1 grid-rows grid-flow-col-3">
                <div><img src="assets\img\demo\0.jpg" alt="" /></div>
                <div>
                  <h6 class="user-name">
                    {{ transactionDetails?.initiator_name }}
                    {{ transactionDetails?.initiator_first_name }}
                  </h6>
                </div>
                <div *ngIf="canCancel">
                  <h6 (click)="openDialog()" class="cancel">Cancel</h6>
                </div>
              </div>
              <div class="grid grid-cols-2 address grid-rows grid-flow-col-3">
                <div @scaleIn
                  class="flex items-center justify-center w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3">
                  <ic-icon [icIcon]="icMap" size="20px"></ic-icon>
                </div>

                <div>
                  <h6>
                    {{ transactionDetails?.initiator_address }}
                  </h6>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 phone-number grid-rows grid-flow-col-3">
                <div @scaleIn
                  class="flex items-center justify-center w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3">
                  <ic-icon [icIcon]="icPhone" size="20px"></ic-icon>
                </div>
                <div>
                  <h6>
                    {{ transactionDetails?.initiator_phone }}
                  </h6>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 email-address grid-rows grid-flow-col-3">
                <div @scaleIn
                  class="flex items-center justify-center w-10 h-10 rounded-full ic-icon bg-primary-light text-primary ltr:mr-3 rtl:ml-3">
                  <ic-icon [icIcon]="icEmail" size="20px"></ic-icon>
                </div>
                <div>
                  <h6>
                    {{ transactionDetails?.initiator_email }}
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white border card2">
            <div class="p-4">
              <div class="grid grid-cols-2 titre grid-rows grid-flow-col-3">
                <div></div>
                <div>
                  <h5 class="titre1">Delivery code confirmation</h5>
                  <p class="titre2">
                    Make sure customers acknowledge the delivery with this code
                  </p>
                  <h1>{{ transactionDetails?.release_code }}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white border card3">
            <div class="p-4">
              <div class="grid grid-cols-2 code grid-rows grid-flow-col-3">
                <div></div>
                <div>
                  <h5 class="text-center titre1">Dispatch Rider contact</h5>
                  <p class="titre2">
                    Every time you will change the dispatch rider, the customer
                    will get modified
                  </p>
                  <h5 class="text-center number">
                    {{ transactionDetails?.delivery_phone }}
                    <span>
                      <ic-icon size="20px" (click)="onDisplayInput()" [icIcon]="icEdit"></ic-icon>
                    </span>
                  </h5>

                  <div [formGroup]="form" class="mt-4 button" *ngIf="displayPhoneInput">
                    <mat-form-field>
                      <span matPrefix>{{ prefixCountryCode }}</span>
                      <mat-label>New delivery number</mat-label>
                      <input matInput type="text" formControlName="newDeliveryNo" />
                      <mat-error *ngIf="form?.status === 'INVALID'">Please enter a valid phone number
                      </mat-error>
                    </mat-form-field>
                    <span class="span2" matSuffix>
                      <button mat-raised-button color="primary"
                        [disabled]="form?.status === 'INVALID' || isUpdatingDelivery" (click)="updateDeliveryPhone()">{{
                        isUpdatingDelivery === false ? 'Update' : 'Updating...' }}</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </vex-page-layout-content>
</vex-page-layout>